In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import xlsxwriter
import pandas_flavor as pf

In [2]:
file_path = r"G:\Shared drives\FMA-G\C-CONSERVACIÓN\C1_Bosque Pehuen\6 Bosque Pehuen\Conservación\Camaras trampa\2022 - febr. 2024\Fotos\2022-feb2024_todas_episodios.csv"
data = pd.read_csv(file_path)

In [3]:
data = data[data['RelativePath'] != '2022\\CoRaTe\\Puma']
data.drop(columns=["Unnamed: 9"], inplace=True)

In [4]:
unique_RelativePath = data['RelativePath'].unique()
print(unique_RelativePath)

['2022\\Araucarias\\CT10_06_12_22' '2022\\Araucarias\\CT9'
 '2022\\CoRaTe Quebrada\\CT13' '2022\\CoRaTe Quebrada\\CT14'
 '2022\\CoRaTe\\CT11_12_2022' '2022\\Lenga - Pradera\\CT16'
 '2022\\Lenga\\CT1' '2022\\Lenga\\CT2' '2022\\RoRaCo Renoval\\CT5'
 '2022\\RoRaCo Renoval\\CT6\\100EK113'
 '2022\\RoRaCo Renoval\\CT6\\101EK113'
 '2022\\RoRaCo Renoval\\CT6\\102EK113'
 '2022\\RoRaCo Renoval\\CT6\\103EK113'
 '2022\\RoRaCo Renoval\\CT6\\104EK113' '2022\\RoRaCo Rio\\CT3'
 '2022\\Santuario Anfibios\\CT7' '2022\\Santuario Anfibios\\CT7_Nov_22'
 '2022\\Santuario Anfibios\\CT8' '2022\\Santuario Anfibios\\CT8_nov_22'
 '2023\\Araucarias\\CT 3 hermanas_16_02_23'
 '2023\\Araucarias\\CT 3 hermanas_enero 23'
 '2023\\Araucarias\\camtrap 3 hermanas_16_02_23'
 '2023\\Araucarias\\camtrap 8_02_23' '2023\\RoRaCo Renoval\\TC5'
 '2023\\RoRaCo Renoval\\TC6' '2023\\Santuario Anfibios\\TC7'
 '2023\\Santuario Anfibios\\TC8'
 '2023\\TC 17 Salto de la Mariposa\\100EK113'
 '2023\\TC 17 Salto de la Mariposa\\101EK113' '2023\\TC11' '2023\\TC12'
 '2024\\TC_1' '2024\\TC_10' '2024\\TC_2' '2024\\TC_5' '2024\\TC_6'
 '2024\\TC_7' '2024\\TC_8' '2024\\TC_9\\100EK113' '2024\\TC_9\\101EK113'
 '2024\\TC_9\\102EK113']

In [5]:
# Create a dictionary that maps the RelativePath values to the corresponding Estación value
estacion_dict = {
    '2022\\Araucarias\\CT10_06_12_22': 'Araucarias',
    '2022\\Araucarias\\CT9': 'Araucarias',
    '2023\\Araucarias\\CT 3 hermanas_16_02_23': 'Araucarias',
    '2023\\Araucarias\\CT 3 hermanas_enero 23': 'Araucarias',
    '2024\\TC_10': 'Araucarias',
    '2024\\TC_9\\100EK113': 'Araucarias',
    '2024\\TC_9\\101EK113': 'Araucarias',
    '2024\\TC_9\\102EK113': 'Araucarias',
    '2022\\CoRaTe Quebrada\\CT13': 'CoRaTe Quebrada',
    '2022\\CoRaTe Quebrada\\CT14': 'CoRaTe Quebrada',
    '2022\\CoRaTe\\CT11_12_2022': 'CoRaTe',
    '2022\\CoRaTe\\Puma': 'CoRaTe',
    '2023\\TC11': 'CoRaTe',
    '2023\\TC12': 'CoRaTe',
    '2022\\Lenga\\CT1': 'Lenga',
    '2022\\Lenga\\CT2': 'Lenga',
    '2024\\TC_1': 'Lenga',
    '2024\\TC_2': 'Lenga',
    '2022\\Lenga - Pradera\\CT16': 'Lenga - Pradera',
    '2022\\RoRaCo Renoval\\CT5': 'RoRaCo Renoval',
    '2022\\RoRaCo Renoval\\CT6\\100EK113': 'RoRaCo Renoval',
    '2022\\RoRaCo Renoval\\CT6\\101EK113': 'RoRaCo Renoval',
    '2022\\RoRaCo Renoval\\CT6\\102EK113': 'RoRaCo Renoval',
    '2022\\RoRaCo Renoval\\CT6\\103EK113': 'RoRaCo Renoval',
    '2022\\RoRaCo Renoval\\CT6\\104EK113': 'RoRaCo Renoval',
    '2023\\RoRaCo Renoval\\TC5': 'RoRaCo Renoval',
    '2023\\RoRaCo Renoval\\TC6': 'RoRaCo Renoval',
    '2024\\TC_5': 'RoRaCo Renoval',
    '2024\\TC_6': 'RoRaCo Renoval',
    '2022\\RoRaCo Rio\\CT3': 'RoRaCo Río',
    '2022\\Santuario Anfibios\\CT7': 'Santuario de anfibios',
    '2022\\Santuario Anfibios\\CT7_Nov_22': 'Santuario de anfibios',
    '2022\\Santuario Anfibios\\CT8': 'Santuario de anfibios',
    '2022\\Santuario Anfibios\\CT8_nov_22': 'Santuario de anfibios',
    '2023\\Santuario Anfibios\\TC7': 'Santuario de anfibios',
    '2023\\Santuario Anfibios\\TC8': 'Santuario de anfibios',
    '2024\\TC_7': 'Santuario de anfibios',
    '2024\\TC_8': 'Santuario de anfibios',
    '2023\\Araucarias\\camtrap 3 hermanas_16_02_23': 'Camtraption',
    '2023\\Araucarias\\camtrap 8_02_23': 'Camtraption',
    '2023\\TC 17 Salto de la Mariposa\\100EK113': 'Salto de la mariposa',
    '2023\\TC 17 Salto de la Mariposa\\101EK113': 'Salto de la mariposa'
}

# Create a new column 'estación' in the DataFrame and fill it with the corresponding values
data['Estacion'] = data['RelativePath'].map(estacion_dict)

In [6]:
data = data[data['Estacion'] != 'Camtraption']

In [7]:
unique_Estacion = data['Estacion'].unique()
print(unique_Estacion)

['Araucarias' 'CoRaTe Quebrada' 'CoRaTe' 'Lenga - Pradera' 'Lenga'
 'RoRaCo Renoval' 'RoRaCo Río' 'Santuario de anfibios'
 'Salto de la mariposa']

In [8]:
# Create a dictionary that maps the RelativePath values to the corresponding ID_CamaraTrampa value
id_camara_trampa_dict = {
    '2022\\Lenga\\CT1': 'CT_01',
    '2024\\TC_1': 'CT_01',
    '2022\\Lenga\\CT2': 'CT_02',
    '2024\\TC_2': 'CT_02',
    '2022\\RoRaCo Rio\\CT3': 'CT_03',
    '2022\\RoRaCo Renoval\\CT5': 'CT_05',
    '2023\\RoRaCo Renoval\\TC5': 'CT_05',
    '2024\\TC_5': 'CT_05',
    '2022\\RoRaCo Renoval\\CT6\\100EK113': 'CT_06',
    '2022\\RoRaCo Renoval\\CT6\\101EK113': 'CT_06',
    '2022\\RoRaCo Renoval\\CT6\\102EK113': 'CT_06',
    '2022\\RoRaCo Renoval\\CT6\\103EK113': 'CT_06',
    '2022\\RoRaCo Renoval\\CT6\\104EK113': 'CT_06',
    '2023\\RoRaCo Renoval\\TC6': 'CT_06',
    '2024\\TC_6': 'CT_06',
    '2022\\Santuario Anfibios\\CT7': 'CT_07',
    '2022\\Santuario Anfibios\\CT7_Nov_22': 'CT_07',
    '2023\\Santuario Anfibios\\TC7': 'CT_07',
    '2024\\TC_7': 'CT_07',
    '2022\\Santuario Anfibios\\CT8': 'CT_08',
    '2022\\Santuario Anfibios\\CT8_nov_22': 'CT_08',
    '2023\\Santuario Anfibios\\TC8': 'CT_08',
    '2024\\TC_8': 'CT_08',
    '2022\\Araucarias\\CT9': 'CT_09',
    '2024\\TC_9\\100EK113': 'CT_09',
    '2024\\TC_9\\101EK113': 'CT_09',
    '2024\\TC_9\\102EK113': 'CT_09',
    '2022\\Araucarias\\CT10_06_12_22': 'CT_10',
    '2024\\TC_10': 'CT_10',
    '2023\\Araucarias\\CT 3 hermanas_16_02_23': 'CT_10',
    '2023\\Araucarias\\CT 3 hermanas_enero 23': 'CT_10',
    '2022\\CoRaTe\\CT11_12_2022': 'CT_11',
    '2023\\TC11': 'CT_11',
    '2023\\TC12': 'CT_12',
    '2022\\CoRaTe Quebrada\\CT13': 'CT_13',
    '2022\\CoRaTe Quebrada\\CT14': 'CT_14',
    '2022\\Lenga - Pradera\\CT16': 'CT_16',
    '2023\\TC 17 Salto de la Mariposa\\100EK113': 'CT_17',
    '2023\\TC 17 Salto de la Mariposa\\101EK113': 'CT_17',
    '2023\\Araucarias\\camtrap 3 hermanas_16_02_23': 'CT_Camtraption',
    '2023\\Araucarias\\camtrap 8_02_23': 'CT_Camtraption'
}

# Create a new column 'ID_CamaraTrampa' in the DataFrame and fill it with the corresponding values
data['ID_CamaraTrampa'] = data['RelativePath'].map(id_camara_trampa_dict)

In [9]:
unique_ID_CamapraTrampa = data['ID_CamaraTrampa'].unique()
print(unique_ID_CamapraTrampa)

['CT_10' 'CT_09' 'CT_13' 'CT_14' 'CT_11' 'CT_16' 'CT_01' 'CT_02' 'CT_05'
 'CT_06' 'CT_03' 'CT_07' 'CT_08' 'CT_17' 'CT_12']

In [10]:
print(data[data['ID_CamaraTrampa'].isna()])

Empty DataFrame
Columns: [RootFolder, File, RelativePath, DateTime, Animal, Person, Especie, Counter0, Note0, Estacion, ID_CamaraTrampa]
Index: []

In [11]:
# Check for rows with missing 'estación' values
print("Rows with missing 'Estacion' values:")
print(data[data['Estacion'].isna()])

# Check for rows with missing 'ID_CamaraTrampa' values
print("\nRows with missing 'ID_CamaraTrampa' values:")
print(data[data['ID_CamaraTrampa'].isna()])

Rows with missing 'Estacion' values:
Empty DataFrame
Columns: [RootFolder, File, RelativePath, DateTime, Animal, Person, Especie, Counter0, Note0, Estacion, ID_CamaraTrampa]
Index: []

Rows with missing 'ID_CamaraTrampa' values:
Empty DataFrame
Columns: [RootFolder, File, RelativePath, DateTime, Animal, Person, Especie, Counter0, Note0, Estacion, ID_CamaraTrampa]
Index: []

In [12]:
# Convert the column to datetime format
data['DateTime'] = pd.to_datetime(data['DateTime'])

# Extract year, month, day, and time
data['Year'] = data['DateTime'].dt.year
data['Month'] = data['DateTime'].dt.month
data['Day'] = data['DateTime'].dt.day
data['Time'] = data['DateTime'].dt.time

In [13]:
# Define the seasons' date ranges based on 'Month' and 'Day'
seasons = {
    'Primavera': ((9, 23), (12, 20)),
    'Verano': ((12, 21), (3, 20)),
    'Otoño': ((3, 21), (6, 20)),
    'Invierno': ((6, 21), (9, 22))
}

def get_season(month, day):
    for season, (start, end) in seasons.items():
        start_month, start_day = start
        end_month, end_day = end
        if start_month < end_month:
            if (month > start_month or (month == start_month and day >= start_day)) and (month < end_month or (month == end_month and day <= end_day)):
                return season
        else:  # Seasons that span over two years
            if (month > start_month or (month == start_month and day >= start_day)) or (month < end_month or (month == end_month and day <= end_day)):
                return season
    return None

# Apply the function to create the 'Season' column
data['Season'] = data.apply(lambda row: get_season(row['Month'], row['Day']), axis=1)

# Print the first few rows to check
print(data['Season'].unique())

['Otoño' 'Invierno' 'Primavera' 'Verano']

In [14]:
#deal with episode data. Variable Note0 contains the episode data
data[['Episode_ID', 'Episode_length']] = data['Note0'].str.split(':', n=1, expand=True)

In [15]:
Especie_count = (
    data.groupby(['Especie', 'Episode_ID'])['Counter0']
    .max()
    .reset_index()  # Add this line to reset the index and get 'Episode_ID' back
    .groupby('Especie')['Episode_ID']
    .nunique()
    .reset_index()
    .rename(columns={'Episode_ID': 'Count'})
)

print(Especie_count)

         Especie  Count
0     Carpintero      2
1     Cometocino      1
2         Concón      1
3         Diucón      1
4          Guiña      5
5      Hued hued      1
6         Jabali     86
7         Liebre     59
8          Perro     89
9       Peuquito      2
10          Puma     17
11      Rayadito      1
12         Traro      1
13  Zorro culpeo    103
14        Zorzal      2

In [16]:
Especie_count_by_estacion = (
    data.groupby(['Estacion', 'Especie', 'Episode_ID'])['Counter0']
    .max()
    .reset_index()
    .groupby(['Especie', 'Estacion'])['Episode_ID']
    .nunique()
    .unstack(fill_value=0)
    .reset_index()
    .rename_axis(None, axis=1)
)

print(Especie_count_by_estacion)

         Especie  Araucarias  CoRaTe  CoRaTe Quebrada  Lenga  Lenga - Pradera  \
0     Carpintero           0       0                0      0                0
1     Cometocino           0       0                0      0                0
2         Concón           0       0                0      0                0
3         Diucón           0       0                0      0                0
4          Guiña           0       2                0      0                0
5      Hued hued           0       0                0      0                0
6         Jabali           4       6                0      4                0
7         Liebre           9       6                0     19                1
8          Perro           0       5                1      4                1
9       Peuquito           2       0                0      0                0
10          Puma           5       3                0      4                0
11      Rayadito           0       0                0      0                0
12         Traro           0       0                0      0                0
13  Zorro culpeo          22      11                0     13                0
14        Zorzal           0       0                0      0                0

    RoRaCo Renoval  RoRaCo Río  Santuario de anfibios
0                2           0                      0
1                1           0                      0
2                0           0                      1
3                0           0                      1
4                1           0                      2
5                0           0                      1
6               35           0                     37
7               20           0                      4
8               36           5                     37
9                0           0                      0
10               3           0                      2
11               1           0                      0
12               1           0                      0
13              34           0                     23
14               0           0                      2

In [17]:
Especie_count_by_Year = (
    data.groupby(['Year', 'Especie', 'Episode_ID'])['Counter0']
    .max()
    .reset_index()
    .groupby(['Especie', 'Year'])['Episode_ID']
    .nunique()
    .unstack(fill_value=0)
    .reset_index()
    .rename_axis(None, axis=1)
)

print(Especie_count_by_Year)

         Especie  1970  2017  2022  2023  2024
0     Carpintero     0     0     0     2     0
1     Cometocino     0     0     0     1     0
2         Concón     0     0     0     1     0
3         Diucón     0     0     0     1     0
4          Guiña     0     0     4     1     0
5      Hued hued     0     0     1     0     0
6         Jabali     1     5     8    68     4
7         Liebre     0     0    41    18     0
8          Perro     0     2    34    50     3
9       Peuquito     0     0     0     2     0
10          Puma     0     0    11     5     1
11      Rayadito     0     0     0     1     0
12         Traro     0     0     0     1     0
13  Zorro culpeo     1     1    37    62     2
14        Zorzal     0     0     2     0     0

In [18]:
Especie_count_by_ID_CamaraTrampa = (
    data.groupby(['ID_CamaraTrampa', 'Especie', 'Episode_ID'])['Counter0']
    .max()
    .reset_index()
    .groupby(['Especie', 'ID_CamaraTrampa'])['Episode_ID']
    .nunique()
    .unstack(fill_value=0)
    .reset_index()
    .rename_axis(None, axis=1)
)

print(Especie_count_by_ID_CamaraTrampa)

         Especie  CT_01  CT_02  CT_03  CT_05  CT_06  CT_07  CT_08  CT_09  \
0     Carpintero      0      0      0      2      0      0      0      0
1     Cometocino      0      0      0      1      0      0      0      0
2         Concón      0      0      0      0      0      0      1      0
3         Diucón      0      0      0      0      0      1      0      0
4          Guiña      0      0      0      0      1      0      2      0
5      Hued hued      0      0      0      0      0      0      1      0
6         Jabali      4      0      0     15     20     17     20      4
7         Liebre     16      3      0     20      0      3      1      0
8          Perro      1      3      5     28      8     13     24      0
9       Peuquito      0      0      0      0      0      0      0      0
10          Puma      1      3      0      2      1      0      2      0
11      Rayadito      0      0      0      0      1      0      0      0
12         Traro      0      0      0      1      0      0      0      0
13  Zorro culpeo      5      8      0     31      3      6     17      3
14        Zorzal      0      0      0      0      0      2      0      0

    CT_10  CT_11  CT_12  CT_13  CT_16
0       0      0      0      0      0
1       0      0      0      0      0
2       0      0      0      0      0
3       0      0      0      0      0
4       0      2      0      0      0
5       0      0      0      0      0
6       0      3      3      0      0
7       9      6      0      0      1
8       0      5      0      1      1
9       2      0      0      0      0
10      5      3      0      0      0
11      0      0      0      0      0
12      0      0      0      0      0
13     19      5      6      0      0
14      0      0      0      0      0

In [19]:
Especie_count_by_Season = (
    data.groupby(['Season', 'Especie', 'Episode_ID'])['Counter0']
    .max()
    .reset_index()
    .groupby(['Especie', 'Season'])['Episode_ID']
    .nunique()
    .unstack(fill_value=0)
    .reset_index()
    .rename_axis(None, axis=1)
)

In [20]:
# Filter data for the year 2023
data_2023 = data[data['Year'] == 2023]

Especie_count_by_Season2023 = (
    data_2023.groupby(['Season', 'Especie', 'Episode_ID'])['Counter0']
    .max()
    .reset_index()
    .groupby(['Especie', 'Season'])['Episode_ID']
    .nunique()
    .unstack(fill_value=0)
    .reset_index()
    .rename_axis(None, axis=1)
)

print(Especie_count_by_Season2023)

         Especie  Invierno  Otoño  Primavera  Verano
0     Carpintero         1      0          0       1
1     Cometocino         0      0          0       1
2         Concón         0      1          0       0
3         Diucón         0      0          1       0
4          Guiña         1      0          0       0
5         Jabali        27     19         17       5
6         Liebre         0      8          3       7
7          Perro         5     23         18       4
8       Peuquito         0      0          0       2
9           Puma         1      1          0       3
10      Rayadito         0      0          0       1
11         Traro         0      0          0       1
12  Zorro culpeo        25     22          9       6

In [21]:
Especie_count_by_Month = (
    data.groupby(['Month', 'Especie', 'Episode_ID'])['Counter0']
    .max()
    .reset_index()
    .groupby(['Especie', 'Month'])['Episode_ID']
    .nunique()
    .unstack(fill_value=0)
    .reset_index()
    .rename_axis(None, axis=1)
)

In [22]:
total_count = Especie_count['Count'].sum()

# Calculate the frequency for each species
Especie_count['Frequency'] = Especie_count['Count'] / total_count * 100

# Display the DataFrame with the new Frequency column
print(Especie_count)

         Especie  Count  Frequency
0     Carpintero      2   0.539084
1     Cometocino      1   0.269542
2         Concón      1   0.269542
3         Diucón      1   0.269542
4          Guiña      5   1.347709
5      Hued hued      1   0.269542
6         Jabali     86  23.180593
7         Liebre     59  15.902965
8          Perro     89  23.989218
9       Peuquito      2   0.539084
10          Puma     17   4.582210
11      Rayadito      1   0.269542
12         Traro      1   0.269542
13  Zorro culpeo    103  27.762803
14        Zorzal      2   0.539084

In [23]:
# Step 1: Calculate the total counts per Estacion across all Especie
total_count_per_estacion = Especie_count_by_estacion.drop('Especie', axis=1).sum()

# Step 2: Create a new DataFrame for frequency values
Especie_freq_by_estacion = Especie_count_by_estacion.copy()

# Calculate frequencies by dividing each species count by the total count for that station
for estacion in total_count_per_estacion.index:
    Especie_freq_by_estacion[estacion] = Especie_count_by_estacion[estacion] / total_count_per_estacion[estacion] * 100

# The DataFrame Especie_freq_by_estacion now contains the frequencies instead of the counts
print(Especie_freq_by_estacion)

         Especie  Araucarias     CoRaTe  CoRaTe Quebrada      Lenga  \
0     Carpintero    0.000000   0.000000              0.0   0.000000
1     Cometocino    0.000000   0.000000              0.0   0.000000
2         Concón    0.000000   0.000000              0.0   0.000000
3         Diucón    0.000000   0.000000              0.0   0.000000
4          Guiña    0.000000   6.060606              0.0   0.000000
5      Hued hued    0.000000   0.000000              0.0   0.000000
6         Jabali    9.523810  18.181818              0.0   9.090909
7         Liebre   21.428571  18.181818              0.0  43.181818
8          Perro    0.000000  15.151515            100.0   9.090909
9       Peuquito    4.761905   0.000000              0.0   0.000000
10          Puma   11.904762   9.090909              0.0   9.090909
11      Rayadito    0.000000   0.000000              0.0   0.000000
12         Traro    0.000000   0.000000              0.0   0.000000
13  Zorro culpeo   52.380952  33.333333              0.0  29.545455
14        Zorzal    0.000000   0.000000              0.0   0.000000

    Lenga - Pradera  RoRaCo Renoval  RoRaCo Río  Santuario de anfibios
0               0.0        1.492537         0.0               0.000000
1               0.0        0.746269         0.0               0.000000
2               0.0        0.000000         0.0               0.909091
3               0.0        0.000000         0.0               0.909091
4               0.0        0.746269         0.0               1.818182
5               0.0        0.000000         0.0               0.909091
6               0.0       26.119403         0.0              33.636364
7              50.0       14.925373         0.0               3.636364
8              50.0       26.865672       100.0              33.636364
9               0.0        0.000000         0.0               0.000000
10              0.0        2.238806         0.0               1.818182
11              0.0        0.746269         0.0               0.000000
12              0.0        0.746269         0.0               0.000000
13              0.0       25.373134         0.0              20.909091
14              0.0        0.000000         0.0               1.818182

In [24]:
especie_freq_by_estacion_binary = Especie_freq_by_estacion.copy()
for col in especie_freq_by_estacion_binary.columns[1:]:  # Skip 'Especie' column
    especie_freq_by_estacion_binary[col] = especie_freq_by_estacion_binary[col].apply(lambda x: 'X' if x > 0 else '')

# Step 2: Calculate the percentage of stations that have the species
especie_freq_by_estacion_binary['Percentage'] = especie_freq_by_estacion_binary.drop('Especie', axis=1).apply(
    lambda row: (row == 'X').mean() * 100, axis=1)

# Print the updated DataFrame with the 'Especie' labels and percentages
print(especie_freq_by_estacion_binary)

         Especie Araucarias CoRaTe CoRaTe Quebrada Lenga Lenga - Pradera  \
0     Carpintero
1     Cometocino
2         Concón
3         Diucón
4          Guiña                 X
5      Hued hued
6         Jabali          X      X                     X
7         Liebre          X      X                     X               X
8          Perro                 X               X     X               X
9       Peuquito          X
10          Puma          X      X                     X
11      Rayadito
12         Traro
13  Zorro culpeo          X      X                     X
14        Zorzal

   RoRaCo Renoval RoRaCo Río Santuario de anfibios  Percentage
0               X                                         12.5
1               X                                         12.5
2                                                X        12.5
3                                                X        12.5
4               X                                X        37.5
5                                                X        12.5
6               X                                X        62.5
7               X                                X        75.0
8               X          X                     X        87.5
9                                                         12.5
10              X                                X        62.5
11              X                                         12.5
12              X                                         12.5
13              X                                X        62.5
14                                               X        12.5

In [25]:
PicturesTaken_by_ID_CamaraTrampa = pd.DataFrame({
    'Total_pictures': data.groupby('ID_CamaraTrampa').size(),
    'Total_animal_pictures': data[data['Animal'] == 'Si'].groupby('ID_CamaraTrampa').size(),
    'Total_person_pictures': data[data['Person'] == 'Si'].groupby('ID_CamaraTrampa').size(),
    'Percentage_animal_pictures': data[data['Animal'] == 'Si'].groupby('ID_CamaraTrampa').size() / data.groupby('ID_CamaraTrampa').size() * 100,
    'Percentage_Animal_and_person_pictures': data[(data['Animal'] == 'Si') + (data['Person'] == 'Si')].groupby('ID_CamaraTrampa').size() / data.groupby('ID_CamaraTrampa').size() * 100
})

print(PicturesTaken_by_ID_CamaraTrampa)

                 Total_pictures  Total_animal_pictures  Total_person_pictures  \
ID_CamaraTrampa
CT_01                       144                   55.0                   47.0
CT_02                       412                   39.0                   77.0
CT_03                       123                   13.0                   91.0
CT_05                       446                  233.0                   91.0
CT_06                      4113                  112.0                  151.0
CT_07                       473                  271.0                   60.0
CT_08                      1330                  309.0                  395.0
CT_09                      2190                   36.0                   50.0
CT_10                       316                   70.0                  160.0
CT_11                       386                   57.0                  121.0
CT_12                        50                   19.0                   22.0
CT_13                        24                    6.0                   18.0
CT_14                         9                    NaN                    NaN
CT_16                       400                   11.0                   47.0
CT_17                      1760                    NaN                  352.0

                 Percentage_animal_pictures  \
ID_CamaraTrampa
CT_01                             38.194444
CT_02                              9.466019
CT_03                             10.569106
CT_05                             52.242152
CT_06                              2.723073
CT_07                             57.293869
CT_08                             23.233083
CT_09                              1.643836
CT_10                             22.151899
CT_11                             14.766839
CT_12                             38.000000
CT_13                             25.000000
CT_14                                   NaN
CT_16                              2.750000
CT_17                                   NaN

                 Percentage_Animal_and_person_pictures
ID_CamaraTrampa
CT_01                                        70.833333
CT_02                                        28.155340
CT_03                                        84.552846
CT_05                                        70.852018
CT_06                                         6.248480
CT_07                                        69.556025
CT_08                                        50.902256
CT_09                                         3.926941
CT_10                                        72.784810
CT_11                                        46.113990
CT_12                                        82.000000
CT_13                                       100.000000
CT_14                                              NaN
CT_16                                        14.500000
CT_17                                        20.000000

In [26]:
# Group by camera trap ID and count unique species
species_count_by_camera = data.groupby('ID_CamaraTrampa')['Especie'].nunique()

# Display the result
print(species_count_by_camera)

ID_CamaraTrampa
CT_01    5
CT_02    4
CT_03    1
CT_05    8
CT_06    6
CT_07    6
CT_08    8
CT_09    2
CT_10    4
CT_11    6
CT_12    2
CT_13    1
CT_14    0
CT_16    2
CT_17    0
Name: Especie, dtype: int64

In [27]:
writer = pd.ExcelWriter('Tablas informe CT.xlsx', engine='xlsxwriter')

# Write each DataFrame to a different sheet
Especie_count.to_excel(writer, sheet_name='Especie_count')
Especie_count_by_estacion.to_excel(writer, sheet_name='by_estacion')
Especie_count_by_Year.to_excel(writer, sheet_name='by_Year')
Especie_count_by_ID_CamaraTrampa.to_excel(writer, sheet_name='by_ID_CamaraTrampa')
Especie_count_by_Season.to_excel(writer, sheet_name='Especie_by_Season')
Especie_count_by_Month.to_excel(writer, sheet_name='Especie_by_Month')
Especie_freq_by_estacion.to_excel(writer, sheet_name='freq_by_estacion')
especie_freq_by_estacion_binary.to_excel(writer, sheet_name='freq_by_estacion_binary')
PicturesTaken_by_ID_CamaraTrampa.to_excel(writer, sheet_name='PicturesTaken')
Especie_count_by_Season2023.to_excel(writer, sheet_name='Especie_by_Season2023')

# Save the Excel file
writer.close()