In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import xlsxwriter
import pandas_flavor as pf

In [2]:
file_path_UCT = r"C:\Users\fguar\OneDrive\Documentos\VS Code\Python\Camaras trampa\Fotos UCT.csv"
file_path_data_2022_2024 = r"C:\Users\fguar\OneDrive\Documentos\VS Code\Python\Camaras trampa\CT_Data_2022-2024.csv"
data_UCT = pd.read_csv(file_path_UCT)
data_2022_2024 = pd.read_csv(file_path_data_2022_2024)

In [3]:
print(data_UCT.head())

                RootFolder          File  \
0  6. Fotos Camaras Trampa  01020010.JPG
1  6. Fotos Camaras Trampa  01020011.JPG
2  6. Fotos Camaras Trampa  01020012.JPG
3  6. Fotos Camaras Trampa  01020013.JPG
4  6. Fotos Camaras Trampa  01020014.JPG

                                        RelativePath              DateTime  \
0  1. Proyecto Fauna FMA (Feb-May 2021)\Estacion ...   2017-01-02 11:32:00
1  1. Proyecto Fauna FMA (Feb-May 2021)\Estacion ...   2017-01-02 11:32:01
2  1. Proyecto Fauna FMA (Feb-May 2021)\Estacion ...   2017-01-02 11:32:02
3  1. Proyecto Fauna FMA (Feb-May 2021)\Estacion ...   2017-01-02 14:19:37
4  1. Proyecto Fauna FMA (Feb-May 2021)\Estacion ...   2017-01-02 14:19:38

   Counter0           Especie  Note0  Unnamed: 7
0         0  Raton cola larga  2:1|3         NaN
1         0  Raton cola larga  2:2|3         NaN
2         0  Raton cola larga  2:3|3         NaN
3         0  Raton cola larga  3:1|6         NaN
4         0  Raton cola larga  3:2|6         NaN

In [4]:
# Create a dictionary that maps the RelativePath values to the corresponding Estación value
estacion_dict = {
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estacion 2. RoRaCo ok\\03\\100EK113 ok': 'RoRaCo Renoval', 
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estacion 2. RoRaCo ok\\04\\DCIM\\100EK113': 'RoRaCo Renoval',
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estacion 2. RoRaCo ok\\04\\DCIM\\102EK113': 'RoRaCo Renoval',
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estacion 2. RoRaCo ok\\04\\DCIM\\107EK113': 'RoRaCo Renoval',
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estacion 2. RoRaCo ok\\04\\DCIM\\109EK113': 'RoRaCo Renoval',
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estación 1. Camping ok\\01\\DCIM\\104EK113': 'RoRaCo Río',
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estación 1. Camping ok\\01\\DCIM\\107EK113': 'RoRaCo Río',
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estación 1. Camping ok\\01\\DCIM\\110EK113': 'RoRaCo Río',
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estación 1. Camping ok\\01\\DCIM\\111EK113': 'RoRaCo Río',
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estación 3. CoRaTe ok\\05\\100EK113': 'CoRaTe',
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estación 3. CoRaTe ok\\05\\101EK113': 'CoRaTe',
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estación 3. CoRaTe ok\\05\\102EK113': 'CoRaTe',
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estación 3. CoRaTe ok\\06\\DCIM\\102EK113': 'CoRaTe',
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estación 3. CoRaTe ok\\06\\DCIM\\103EK113': 'CoRaTe',
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estación 4. Araucaria ok\\07 ok\\100EK113': 'Araucarias',
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estación 4. Araucaria ok\\07 ok\\101EK113': 'Araucarias',
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estación 4. Araucaria ok\\07 ok\\102EK113': 'Araucarias',
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E1. Bosque RoRaCo-Camping ok\\A1\\100EK113': 'RoRaCo Río' ,
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E1. Bosque RoRaCo-Camping ok\\A1\\101EK113': 'RoRaCo Río',
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E1. Bosque RoRaCo-Camping ok\\A1\\102EK113': 'RoRaCo Río',
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E1. Bosque RoRaCo-Camping ok\\A1\\103EK113': 'RoRaCo Río',
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E1. Bosque RoRaCo-Camping ok\\A2\\100EK113': 'RoRaCo Río',
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E2. Bosque RoRaCo-Pradera\\A4\\100EK113': 'RoRaCo Renoval',
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E3. Bosque CoRaTe ok\\A5\\100EK113': 'CoRaTe',
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E3. Bosque CoRaTe ok\\A6\\100EK113': 'CoRaTe',
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E4. Bosque Araucaria OK\\A7 ok\\100EK113': 'Araucarias',
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E4. Bosque Araucaria OK\\A7 ok\\101EK113': 'Araucarias',
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E4. Bosque Araucaria OK\\A7 ok\\103EK113': 'Araucarias',
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E4. Bosque Araucaria OK\\A7 ok\\104EK113': 'Araucarias',
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E4. Bosque Araucaria OK\\A7 ok\\105EK113': 'Araucarias',
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E4. Bosque Araucaria OK\\A8 ok\\100EK113': 'Araucarias',
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E5. Bosque Lenga ok\\A10\\100EK113': 'Lenga',
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E5. Bosque Lenga ok\\A9\\103EK113': 'Lenga',
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E5. Bosque Lenga ok\\A9\\106EK113': 'Lenga',
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E5. Bosque Lenga ok\\A9\\108EK113': 'Lenga',
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E5. Bosque Lenga ok\\A9\\109EK113': 'Lenga',
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E5. Bosque Lenga ok\\A9\\110EK113': 'Lenga',
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E6. Santuario Anfibios OK\\A11 OK\\100EK113': 'Santuario de anfibios',
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E6. Santuario Anfibios OK\\A11 OK\\101EK113': 'Santuario de anfibios',
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E6. Santuario Anfibios OK\\A11 OK\\102EK113': 'Santuario de anfibios',
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E6. Santuario Anfibios OK\\A11 OK\\103EK113': 'Santuario de anfibios',
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E6. Santuario Anfibios OK\\A11 OK\\104EK113': 'Santuario de anfibios',
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E6. Santuario Anfibios OK\\A12 OK\\100EK113': 'Santuario de anfibios',
}


# Create a new column 'estación' in the DataFrame and fill it with the corresponding values
data_UCT['Estacion'] = data_UCT['RelativePath'].map(estacion_dict)

In [5]:
unique_Estacion = data_UCT['Estacion'].unique()
print(unique_Estacion)

['RoRaCo Renoval' 'RoRaCo Río' 'CoRaTe' 'Araucarias' 'Lenga'
 'Santuario de anfibios']

# Create a dictionary that maps the RelativePath values to the corresponding ID_CamaraTrampa value
id_camara_trampa_dict = {
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estacion 2. RoRaCo ok\\03\\100EK113 ok': ,
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estacion 2. RoRaCo ok\\04\\DCIM\\100EK113': ,
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estacion 2. RoRaCo ok\\04\\DCIM\\102EK113': ,
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estacion 2. RoRaCo ok\\04\\DCIM\\107EK113': ,
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estacion 2. RoRaCo ok\\04\\DCIM\\109EK113': ,
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estación 1. Camping ok\\01\\DCIM\\104EK113': ,
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estación 1. Camping ok\\01\\DCIM\\107EK113': ,
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estación 1. Camping ok\\01\\DCIM\\110EK113': ,
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estación 1. Camping ok\\01\\DCIM\\111EK113': ,
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estación 3. CoRaTe ok\\05\\100EK113': ,
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estación 3. CoRaTe ok\\05\\101EK113': ,
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estación 3. CoRaTe ok\\05\\102EK113': ,
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estación 3. CoRaTe ok\\06\\DCIM\\102EK113': ,
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estación 3. CoRaTe ok\\06\\DCIM\\103EK113': ,
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estación 4. Araucaria ok\\07 ok\\100EK113': ,
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estación 4. Araucaria ok\\07 ok\\101EK113': ,
 '1. Proyecto Fauna FMA (Feb-May 2021)\\Estación 4. Araucaria ok\\07 ok\\102EK113': ,
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E1. Bosque RoRaCo-Camping ok\\A1\\100EK113': ,
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E1. Bosque RoRaCo-Camping ok\\A1\\101EK113': ,
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E1. Bosque RoRaCo-Camping ok\\A1\\102EK113': ,
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E1. Bosque RoRaCo-Camping ok\\A1\\103EK113': ,
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E1. Bosque RoRaCo-Camping ok\\A2\\100EK113': ,
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E2. Bosque RoRaCo-Pradera\\A4\\100EK113': ,
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E3. Bosque CoRaTe ok\\A5\\100EK113': ,
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E3. Bosque CoRaTe ok\\A6\\100EK113': ,
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E4. Bosque Araucaria OK\\A7 ok\\100EK113': ,
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E4. Bosque Araucaria OK\\A7 ok\\101EK113': ,
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E4. Bosque Araucaria OK\\A7 ok\\103EK113': ,
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E4. Bosque Araucaria OK\\A7 ok\\104EK113': ,
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E4. Bosque Araucaria OK\\A7 ok\\105EK113': ,
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E4. Bosque Araucaria OK\\A8 ok\\100EK113': ,
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E5. Bosque Lenga ok\\A10\\100EK113': ,
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E5. Bosque Lenga ok\\A9\\103EK113': ,
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E5. Bosque Lenga ok\\A9\\106EK113': ,
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E5. Bosque Lenga ok\\A9\\108EK113': ,
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E5. Bosque Lenga ok\\A9\\109EK113': ,
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E5. Bosque Lenga ok\\A9\\110EK113': ,
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E6. Santuario Anfibios OK\\A11 OK\\100EK113': ,
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E6. Santuario Anfibios OK\\A11 OK\\101EK113': ,
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E6. Santuario Anfibios OK\\A11 OK\\102EK113': ,
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E6. Santuario Anfibios OK\\A11 OK\\103EK113': ,
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E6. Santuario Anfibios OK\\A11 OK\\104EK113': ,
 '4. Proyecto Fauna FMA (Dic 2021-Mar 2022)\\Campaña Primavera-Verano 2021-2022\\E6. Santuario Anfibios OK\\A12 OK\\100EK113': ,
}

# Create a new column 'ID_CamaraTrampa' in the DataFrame and fill it with the corresponding values
data_UCT['ID_CamaraTrampa'] = data_UCT['RelativePath'].map(id_camara_trampa_dict)

unique_ID_CamapraTrampa = data_UCT['ID_CamaraTrampa'].unique()
print(unique_ID_CamapraTrampa)

In [6]:
print(data_UCT[data_UCT['Estacion'].isna()])

Empty DataFrame
Columns: [RootFolder, File, RelativePath, DateTime, Counter0, Especie, Note0, Unnamed: 7, Estacion]
Index: []

In [7]:
# Check for rows with missing 'estación' values
print("Rows with missing 'Estacion' values:")
print(data_UCT[data_UCT['Estacion'].isna()])

Rows with missing 'Estacion' values:
Empty DataFrame
Columns: [RootFolder, File, RelativePath, DateTime, Counter0, Especie, Note0, Unnamed: 7, Estacion]
Index: []

In [8]:
# Convert the column to datetime format
data_UCT['DateTime'] = pd.to_datetime(data_UCT['DateTime'])

# Extract year, month, day, and time
data_UCT['Year'] = data_UCT['DateTime'].dt.year
data_UCT['Month'] = data_UCT['DateTime'].dt.month
data_UCT['Day'] = data_UCT['DateTime'].dt.day
data_UCT['Time'] = data_UCT['DateTime'].dt.time

# Convert 'Time' to string type and then create a new 'Hour' variable
data_UCT['Hour'] = data_UCT['Time'].astype(str).str.split(':').str[0]
data_UCT['Hour'] = data_UCT['Hour'].astype(int)

In [9]:
# Define the seasons' date ranges based on 'Month' and 'Day'
seasons = {
    'Primavera': ((9, 23), (12, 20)),
    'Verano': ((12, 21), (3, 20)),
    'Otoño': ((3, 21), (6, 20)),
    'Invierno': ((6, 21), (9, 22))
}

def get_season(month, day):
    for season, (start, end) in seasons.items():
        start_month, start_day = start
        end_month, end_day = end
        if start_month < end_month:
            if (month > start_month or (month == start_month and day >= start_day)) and (month < end_month or (month == end_month and day <= end_day)):
                return season
        else:  # Seasons that span over two years
            if (month > start_month or (month == start_month and day >= start_day)) or (month < end_month or (month == end_month and day <= end_day)):
                return season
    return None

# Apply the function to create the 'Season' column
data_UCT['Season'] = data_UCT.apply(lambda row: get_season(row['Month'], row['Day']), axis=1)

# Print the first few rows to check
print(data_UCT['Season'].unique())

['Verano' 'Otoño' 'Primavera']

In [10]:
#deal with episode data. Variable Note0 contains the episode data
data_UCT[['Episode_ID', 'Episode_length']] = data_UCT['Note0'].str.split(':', n=1, expand=True)

In [11]:
data_UCT.loc[(data_UCT['Counter0'] == 0) & (data_UCT['Especie'] != ""), 'Counter0'] = 1

data_UCT['Especie'] = data_UCT['Especie'].replace('Conejo', 'Liebre')
data_UCT['Especie'] = data_UCT['Especie'].replace('Jabalí', 'Jabali')
data_UCT['Especie'] = data_UCT['Especie'].replace('Güiña', 'Guiña')
data_UCT['Especie'] = data_UCT['Especie'].replace('Conejo', 'Liebre')
data_UCT['Especie'] = data_UCT['Especie'].replace('Hued Hued', 'Hued hued')
data_UCT['Especie'] = data_UCT['Especie'].replace('Zorro', 'Zorro culpeo')
data_UCT = data_UCT.loc[data_UCT['Especie'] != 'Persona']

In [12]:
Especie_count = (
    data_UCT.groupby(['Especie', 'Episode_ID'])['Counter0']
    .max()
    .reset_index()  # Add this line to reset the index and get 'Episode_ID' back
    .groupby('Especie')['Episode_ID']
    .nunique()
    .reset_index()
    .rename(columns={'Episode_ID': 'Count'})
)

print(Especie_count)

             Especie  Count
0            Caballo      2
1            Cachaña      3
2            Chingue      3
3             Chucao     80
4        Ciervo rojo      2
5         Cometocino      2
6             Concón      1
7              Guiña      3
8          Hued hued     88
9             Jabali     26
10          Jilguero      2
11            Liebre     17
12  Monito del monte      8
13              Otro      2
14             Perro     12
15              Puma      3
16        Rata negra      4
17  Raton cola larga     24
18          Rayadito      1
19            Tiuque      3
20           Torcaza      2
21             Vison      1
22      Zorro culpeo    101
23            Zorzal     19

In [13]:
# Convert the column to datetime format
data_2022_2024['DateTime'] = pd.to_datetime(data_2022_2024['DateTime'])

# Extract year, month, day, and time
data_2022_2024['Year'] = data_2022_2024['DateTime'].dt.year
data_2022_2024['Month'] = data_2022_2024['DateTime'].dt.month
data_2022_2024['Day'] = data_2022_2024['DateTime'].dt.day
data_2022_2024['Time'] = data_2022_2024['DateTime'].dt.time
# Convert 'Time' to string type and then create a new 'Hour' variable
data_2022_2024['Hour'] = data_2022_2024['Time'].astype(str).str.split(':').str[0]
data_2022_2024['Hour'] = data_2022_2024['Hour'].astype(int)

data_2022_2024['Episode_ID'] = data_2022_2024['Episode_ID'].astype(int)
data_UCT['Episode_ID'] = data_UCT['Episode_ID'].astype(int)

In [14]:
merged_df = pd.merge(data_2022_2024, data_UCT, on=['Especie', 'DateTime', 'Episode_ID', 'Estacion', 'Counter0', 'RelativePath','Hour', 'Year', 'Month', 'Season'], how='outer')

In [17]:
print(merged_df.columns)

Index(['RootFolder_x', 'File_x', 'RelativePath', 'DateTime', 'Animal',
       'Person', 'Especie', 'Counter0', 'Note0_x', 'Estacion',
       'ID_CamaraTrampa', 'Year', 'Month', 'Day_x', 'Time_x', 'Hour', 'Season',
       'Episode_ID', 'Episode_length_x', 'RootFolder_y', 'File_y', 'Note0_y',
       'Unnamed: 7', 'Day_y', 'Time_y', 'Episode_length_y'],
      dtype='object')

In [18]:
Especie_count = (
    merged_df.groupby(['Especie', 'Episode_ID'])['Counter0']
    .max()
    .reset_index()  # Add this line to reset the index and get 'Episode_ID' back
    .groupby('Especie')['Episode_ID']
    .nunique()
    .reset_index()
    .rename(columns={'Episode_ID': 'Count'})
)

print(Especie_count)

             Especie  Count
0            Caballo      2
1            Cachaña      3
2         Carpintero      2
3            Chingue      3
4             Chucao     80
5        Ciervo rojo      2
6         Cometocino      3
7             Concón      2
8             Diucón      1
9              Guiña      8
10         Hued hued     89
11            Jabali    112
12          Jilguero      2
13            Liebre     76
14  Monito del monte      8
15              Otro      2
16             Perro    101
17          Peuquito      2
18              Puma     20
19        Rata negra      4
20  Raton cola larga     24
21          Rayadito      2
22            Tiuque      3
23           Torcaza      2
24             Traro      1
25             Vison      1
26      Zorro culpeo    197
27            Zorzal     21

In [19]:
Especie_count_by_estacion = (
    merged_df.groupby(['Estacion', 'Especie', 'Episode_ID'])['Counter0']
    .max()
    .reset_index()
    .groupby(['Especie', 'Estacion'])['Episode_ID']
    .nunique()
    .unstack(fill_value=0)
    .reset_index()
    .rename_axis(None, axis=1)
)

print(Especie_count_by_estacion)

             Especie  Araucarias  CoRaTe  CoRaTe Quebrada  Lenga  \
0            Caballo           0       0                0      0
1            Cachaña           0       0                0      0
2         Carpintero           0       0                0      0
3            Chingue           0       0                0      0
4             Chucao           0       5                0      0
5        Ciervo rojo           0       0                0      2
6         Cometocino           0       0                0      0
7             Concón           0       1                0      0
8             Diucón           0       0                0      0
9              Guiña           0       4                0      0
10         Hued hued           0      58                0      0
11            Jabali           7      11                0      5
12          Jilguero           1       0                0      0
13            Liebre          26       6                0     19
14  Monito del monte           0       0                0      0
15              Otro           1       0                0      1
16             Perro           1       5                1      6
17          Peuquito           2       0                0      0
18              Puma           8       3                0      4
19        Rata negra           0       0                0      0
20  Raton cola larga           0       2                0      0
21          Rayadito           1       0                0      0
22            Tiuque           0       1                0      0
23           Torcaza           0       2                0      0
24             Traro           0       0                0      0
25             Vison           1       0                0      0
26      Zorro culpeo          67      39                0     18
27            Zorzal           0       2                0      0

    Lenga - Pradera  RoRaCo Renoval  RoRaCo Río  Santuario de anfibios
0                 0               2           0                      0
1                 0               3           0                      0
2                 0               2           0                      0
3                 0               2           1                      0
4                 0               3          72                      0
5                 0               0           0                      0
6                 0               1           2                      0
7                 0               0           0                      1
8                 0               0           0                      1
9                 0               1           1                      2
10                0               0          31                      1
11                0              42           0                     47
12                0               0           1                      0
13                1              20           0                      4
14                0               0           8                      0
15                0               0           0                      0
16                1              38          11                     38
17                0               0           0                      0
18                0               3           0                      2
19                0               0           4                      0
20                0               4          18                      0
21                0               1           0                      0
22                0               1           1                      0
23                0               0           0                      0
24                0               1           0                      0
25                0               0           0                      0
26                0              42          18                     24
27                0               1          15                      3

In [20]:
Especie_count_by_Year = (
    merged_df.groupby(['Year', 'Especie', 'Episode_ID'])['Counter0']
    .max()
    .reset_index()
    .groupby(['Especie', 'Year'])['Episode_ID']
    .nunique()
    .unstack(fill_value=0)
    .reset_index()
    .rename_axis(None, axis=1)
)

print(Especie_count_by_Year)

             Especie  1970  2017  2021  2022  2023  2024
0            Caballo     0     1     1     0     0     0
1            Cachaña     0     3     0     0     0     0
2         Carpintero     0     0     0     0     2     0
3            Chingue     0     0     2     1     0     0
4             Chucao     0     3    30    47     0     0
5        Ciervo rojo     0     0     0     2     0     0
6         Cometocino     0     0     0     2     1     0
7             Concón     0     0     0     1     1     0
8             Diucón     0     0     0     0     1     0
9              Guiña     0     0     0     7     1     0
10         Hued hued     0     0    42    47     0     0
11            Jabali     1     7     6    26    68     4
12          Jilguero     0     0     0     2     0     0
13            Liebre     0     0     9    49    18     0
14  Monito del monte     0     0     3     5     0     0
15              Otro     0     0     1     1     0     0
16             Perro     0     3     7    38    50     3
17          Peuquito     0     0     0     0     2     0
18              Puma     0     0     0    14     5     1
19        Rata negra     0     0     0     4     0     0
20  Raton cola larga     0     2     4    18     0     0
21          Rayadito     0     0     1     0     1     0
22            Tiuque     0     1     2     0     0     0
23           Torcaza     0     0     0     2     0     0
24             Traro     0     0     0     0     1     0
25             Vison     0     0     0     1     0     0
26      Zorro culpeo     1     8    24   104    62     2
27            Zorzal     0     0    13     8     0     0

In [22]:
Especie_count_by_Season = (
    merged_df.groupby(['Season', 'Especie', 'Episode_ID'])['Counter0']
    .max()
    .reset_index()
    .groupby(['Especie', 'Season'])['Episode_ID']
    .nunique()
    .unstack(fill_value=0)
    .reset_index()
    .rename_axis(None, axis=1)
)

print(Especie_count_by_Season)

             Especie  Invierno  Otoño  Primavera  Verano
0            Caballo         0      0          0       2
1            Cachaña         0      0          0       3
2         Carpintero         1      0          0       1
3            Chingue         0      0          0       3
4             Chucao         0      0         20      60
5        Ciervo rojo         0      0          0       2
6         Cometocino         0      0          0       3
7             Concón         0      1          0       1
8             Diucón         0      0          1       0
9              Guiña         4      1          0       3
10         Hued hued         1      1         25      62
11            Jabali        28     21         25      38
12          Jilguero         0      0          0       2
13            Liebre        18     12         24      22
14  Monito del monte         0      0          0       8
15              Otro         0      0          0       2
16             Perro        11     31         43      16
17          Peuquito         0      0          0       2
18              Puma         2      8          3       7
19        Rata negra         0      0          0       4
20  Raton cola larga         0      0          0      24
21          Rayadito         0      0          1       1
22            Tiuque         0      0          1       2
23           Torcaza         0      0          0       2
24             Traro         0      0          0       1
25             Vison         0      0          0       1
26      Zorro culpeo        35     41         22     106
27            Zorzal         0      0         13       8

In [23]:
Especie_count_by_Month = (
    merged_df.groupby(['Month', 'Especie', 'Episode_ID'])['Counter0']
    .max()
    .reset_index()
    .groupby(['Especie', 'Month'])['Episode_ID']
    .nunique()
    .unstack(fill_value=0)
    .reset_index()
    .rename_axis(None, axis=1)
)
print(Especie_count_by_Month)

             Especie   1   2   3   4   5   6   7   8   9  10  11  12
0            Caballo   1   1   0   0   0   0   0   0   0   0   0   0
1            Cachaña   3   0   0   0   0   0   0   0   0   0   0   0
2         Carpintero   0   0   1   0   0   0   0   1   0   0   0   0
3            Chingue   1   2   0   0   0   0   0   0   0   0   0   0
4             Chucao  31  18   2   0   0   0   0   0   0   0   0  29
5        Ciervo rojo   2   0   0   0   0   0   0   0   0   0   0   0
6         Cometocino   0   2   0   0   0   0   0   0   0   0   0   1
7             Concón   1   0   1   0   0   0   0   0   0   0   0   0
8             Diucón   0   0   0   0   0   0   0   0   0   0   1   0
9              Guiña   1   1   1   0   0   1   0   3   1   0   0   0
10         Hued hued  30  12   7   0   0   0   0   1   0   0   0  39
11            Jabali  23  10   2   0   1  24  16   3  11   8   3  11
12          Jilguero   1   1   0   0   0   0   0   0   0   0   0   0
13            Liebre   6   9   6   4   6   2   2   6  20  10   0   5
14  Monito del monte   0   3   5   0   0   0   0   0   0   0   0   0
15              Otro   1   0   0   0   0   0   0   0   0   0   0   1
16             Perro   7   6   2   6   9  18   4   5   2  28   2  12
17          Peuquito   1   1   0   0   0   0   0   0   0   0   0   0
18              Puma   6   1   0   0   5   3   0   1   1   0   1   2
19        Rata negra   0   2   2   0   0   0   0   0   0   0   0   0
20  Raton cola larga   4  14   5   0   0   0   0   0   0   0   0   1
21          Rayadito   0   1   0   0   0   0   0   0   0   0   0   1
22            Tiuque   0   0   1   0   0   0   0   0   0   0   0   2
23           Torcaza   0   1   1   0   0   0   0   0   0   0   0   0
24             Traro   0   0   0   0   0   0   0   0   0   0   0   1
25             Vison   0   1   0   0   0   0   0   0   0   0   0   0
26      Zorro culpeo  25  53  17  12  14  21   6  12  11   5   7  21
27            Zorzal   1   4   1   0   0   0   0   0   0   2   0  13

In [31]:
pivot_table_Especie_by_Hour = (
    merged_df.groupby(['Especie', 'Hour', 'Episode_ID'])['Counter0']
    .max()
    .groupby(['Especie', 'Hour'])
    .sum()
    .unstack(fill_value=0)
)

print(pivot_table_Especie_by_Hour)

Hour              0   1   2   3   4   5   6   7   8   9   ...  14  15  16  17  \
Especie                                                   ...
Caballo            0   0   1   1   0   0   0   0   0   0  ...   0   0   0   1
Cachaña            1   0   0   4   0   0   0   0   0   0  ...   0   0   0   0
Carpintero         0   0   0   0   0   0   0   0   2   0  ...   1   0   0   0
Chingue            1   0   0   0   0   0   0   0   0   0  ...   0   0   0   0
Chucao             0   0   0   0   0   0  12   8   8   9  ...   0   1   0   2
Ciervo rojo        0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0
Cometocino         0   0   0   0   0   0   0   0   1   0  ...   0   1   0   0
Concón             0   0   0   0   0   0   1   0   0   0  ...   0   0   0   1
Diucón             0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0
Guiña              0   0   0   0   1   1   0   0   0   1  ...   0   1   0   1
Hued hued          0   0   0   0   0   1  24   4   4   8  ...   0   2   2   1
Jabali             3   1   1   4   2   1   1   1   5  11  ...  13   3  17  10
Jilguero           0   0   0   0   0   0   0   0   0   0  ...   0   1   0   0
Liebre             6   5   4   5   2   4   5   3   0   3  ...   0   0   0   1
Monito del monte   2   1   0   0   2   1   0   0   0   0  ...   0   0   0   0
Otro               0   1   0   0   0   0   0   0   0   0  ...   0   1   0   0
Perro              0   0   1   0   0   0  12   8  15   5  ...   8  28  21   5
Peuquito           0   0   0   0   0   0   0   0   0   0  ...   0   0   1   0
Puma               0   2   0   0   2   0   0   1   2   3  ...   1   2   0   2
Rata negra         0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0
Raton cola larga   1   0   5   1   6   1   2   0   0   0  ...   1   0   0   0
Rayadito           0   0   0   0   0   0   0   0   0   0  ...   0   2   0   0
Tiuque             0   0   1   0   0   0   0   0   0   0  ...   0   0   1   1
Torcaza            0   0   0   0   0   0   0   0   0   0  ...   1   0   0   0
Traro              0   0   0   0   0   0   0   0   0   0  ...   0   1   0   0
Vison              0   0   0   0   0   0   1   0   0   0  ...   0   0   0   0
Zorro culpeo      21  21  15  14   9   8  17   5   4   5  ...   3   5   4   3
Zorzal             0   0   0   0   0   0   3   1   1   0  ...   2   2   1   0

Hour              18  19  20  21  22  23
Especie
Caballo            0   0   0   0   0   0
Cachaña            0   0   0   0   0   0
Carpintero         0   0   0   0   0   0
Chingue            0   0   0   0   1   0
Chucao             2   3   3   6   0   0
Ciervo rojo        0   0   1   0   0   0
Cometocino         0   0   0   0   0   0
Concón             0   0   0   0   0   0
Diucón             1   0   0   0   0   0
Guiña              0   0   1   0   0   0
Hued hued          4   5  17  11   0   0
Jabali            14   6  14  17   5   5
Jilguero           0   0   0   0   0   0
Liebre             8   8   4   2   7   4
Monito del monte   0   0   0   0   3   2
Otro               0   0   0   0   0   0
Perro              0   1   0   6   0   2
Peuquito           0   0   0   0   0   0
Puma               0   1   3   0   0   0
Rata negra         0   0   0   0   2   2
Raton cola larga   0   0   0   1   4   3
Rayadito           0   0   0   0   0   0
Tiuque             0   0   0   0   0   0
Torcaza            0   0   0   0   0   0
Traro              0   0   0   0   0   0
Vison              0   0   0   0   0   0
Zorro culpeo       5   7   8  20  11  18
Zorzal             1   0   2   1   0   0

[28 rows x 24 columns]

In [24]:
total_count = Especie_count['Count'].sum()

# Calculate the frequency for each species
Especie_count['Frequency'] = Especie_count['Count'] / total_count * 100

# Display the DataFrame with the new Frequency column
print(Especie_count)

             Especie  Count  Frequency
0            Caballo      2   0.258732
1            Cachaña      3   0.388098
2         Carpintero      2   0.258732
3            Chingue      3   0.388098
4             Chucao     80  10.349288
5        Ciervo rojo      2   0.258732
6         Cometocino      3   0.388098
7             Concón      2   0.258732
8             Diucón      1   0.129366
9              Guiña      8   1.034929
10         Hued hued     89  11.513583
11            Jabali    112  14.489004
12          Jilguero      2   0.258732
13            Liebre     76   9.831824
14  Monito del monte      8   1.034929
15              Otro      2   0.258732
16             Perro    101  13.065977
17          Peuquito      2   0.258732
18              Puma     20   2.587322
19        Rata negra      4   0.517464
20  Raton cola larga     24   3.104787
21          Rayadito      2   0.258732
22            Tiuque      3   0.388098
23           Torcaza      2   0.258732
24             Traro      1   0.129366
25             Vison      1   0.129366
26      Zorro culpeo    197  25.485123
27            Zorzal     21   2.716688

In [25]:
# Step 1: Calculate the total counts per Estacion across all Especie
total_count_per_estacion = Especie_count_by_estacion.drop('Especie', axis=1).sum()

# Step 2: Create a new DataFrame for frequency values
Especie_freq_by_estacion = Especie_count_by_estacion.copy()

# Calculate frequencies by dividing each species count by the total count for that station
for estacion in total_count_per_estacion.index:
    Especie_freq_by_estacion[estacion] = Especie_count_by_estacion[estacion] / total_count_per_estacion[estacion] * 100

# The DataFrame Especie_freq_by_estacion now contains the frequencies instead of the counts
print(Especie_freq_by_estacion)

             Especie  Araucarias     CoRaTe  CoRaTe Quebrada      Lenga  \
0            Caballo    0.000000   0.000000              0.0   0.000000
1            Cachaña    0.000000   0.000000              0.0   0.000000
2         Carpintero    0.000000   0.000000              0.0   0.000000
3            Chingue    0.000000   0.000000              0.0   0.000000
4             Chucao    0.000000   3.597122              0.0   0.000000
5        Ciervo rojo    0.000000   0.000000              0.0   3.636364
6         Cometocino    0.000000   0.000000              0.0   0.000000
7             Concón    0.000000   0.719424              0.0   0.000000
8             Diucón    0.000000   0.000000              0.0   0.000000
9              Guiña    0.000000   2.877698              0.0   0.000000
10         Hued hued    0.000000  41.726619              0.0   0.000000
11            Jabali    6.086957   7.913669              0.0   9.090909
12          Jilguero    0.869565   0.000000              0.0   0.000000
13            Liebre   22.608696   4.316547              0.0  34.545455
14  Monito del monte    0.000000   0.000000              0.0   0.000000
15              Otro    0.869565   0.000000              0.0   1.818182
16             Perro    0.869565   3.597122            100.0  10.909091
17          Peuquito    1.739130   0.000000              0.0   0.000000
18              Puma    6.956522   2.158273              0.0   7.272727
19        Rata negra    0.000000   0.000000              0.0   0.000000
20  Raton cola larga    0.000000   1.438849              0.0   0.000000
21          Rayadito    0.869565   0.000000              0.0   0.000000
22            Tiuque    0.000000   0.719424              0.0   0.000000
23           Torcaza    0.000000   1.438849              0.0   0.000000
24             Traro    0.000000   0.000000              0.0   0.000000
25             Vison    0.869565   0.000000              0.0   0.000000
26      Zorro culpeo   58.260870  28.057554              0.0  32.727273
27            Zorzal    0.000000   1.438849              0.0   0.000000

    Lenga - Pradera  RoRaCo Renoval  RoRaCo Río  Santuario de anfibios
0               0.0        1.197605    0.000000               0.000000
1               0.0        1.796407    0.000000               0.000000
2               0.0        1.197605    0.000000               0.000000
3               0.0        1.197605    0.546448               0.000000
4               0.0        1.796407   39.344262               0.000000
5               0.0        0.000000    0.000000               0.000000
6               0.0        0.598802    1.092896               0.000000
7               0.0        0.000000    0.000000               0.813008
8               0.0        0.000000    0.000000               0.813008
9               0.0        0.598802    0.546448               1.626016
10              0.0        0.000000   16.939891               0.813008
11              0.0       25.149701    0.000000              38.211382
12              0.0        0.000000    0.546448               0.000000
13             50.0       11.976048    0.000000               3.252033
14              0.0        0.000000    4.371585               0.000000
15              0.0        0.000000    0.000000               0.000000
16             50.0       22.754491    6.010929              30.894309
17              0.0        0.000000    0.000000               0.000000
18              0.0        1.796407    0.000000               1.626016
19              0.0        0.000000    2.185792               0.000000
20              0.0        2.395210    9.836066               0.000000
21              0.0        0.598802    0.000000               0.000000
22              0.0        0.598802    0.546448               0.000000
23              0.0        0.000000    0.000000               0.000000
24              0.0        0.598802    0.000000               0.000000
25              0.0        0.000000    0.000000               0.000000
26              0.0       25.149701    9.836066              19.512195
27              0.0        0.598802    8.196721               2.439024

In [26]:
especie_freq_by_estacion_binary = Especie_freq_by_estacion.copy()
for col in especie_freq_by_estacion_binary.columns[1:]:  # Skip 'Especie' column
    especie_freq_by_estacion_binary[col] = especie_freq_by_estacion_binary[col].apply(lambda x: 'X' if x > 0 else '')

# Step 2: Calculate the percentage of stations that have the species
especie_freq_by_estacion_binary['Percentage'] = especie_freq_by_estacion_binary.drop('Especie', axis=1).apply(
    lambda row: (row == 'X').mean() * 100, axis=1)

# Print the updated DataFrame with the 'Especie' labels and percentages
print(especie_freq_by_estacion_binary)

             Especie Araucarias CoRaTe CoRaTe Quebrada Lenga Lenga - Pradera  \
0            Caballo
1            Cachaña
2         Carpintero
3            Chingue
4             Chucao                 X
5        Ciervo rojo                                       X
6         Cometocino
7             Concón                 X
8             Diucón
9              Guiña                 X
10         Hued hued                 X
11            Jabali          X      X                     X
12          Jilguero          X
13            Liebre          X      X                     X               X
14  Monito del monte
15              Otro          X                            X
16             Perro          X      X               X     X               X
17          Peuquito          X
18              Puma          X      X                     X
19        Rata negra
20  Raton cola larga                 X
21          Rayadito          X
22            Tiuque                 X
23           Torcaza                 X
24             Traro
25             Vison          X
26      Zorro culpeo          X      X                     X
27            Zorzal                 X

   RoRaCo Renoval RoRaCo Río Santuario de anfibios  Percentage
0               X                                         12.5
1               X                                         12.5
2               X                                         12.5
3               X          X                              25.0
4               X          X                              37.5
5                                                         12.5
6               X          X                              25.0
7                                                X        25.0
8                                                X        12.5
9               X          X                     X        50.0
10                         X                     X        37.5
11              X                                X        62.5
12                         X                              25.0
13              X                                X        75.0
14                         X                              12.5
15                                                        25.0
16              X          X                     X       100.0
17                                                        12.5
18              X                                X        62.5
19                         X                              12.5
20              X          X                              37.5
21              X                                         25.0
22              X          X                              37.5
23                                                        12.5
24              X                                         12.5
25                                                        12.5
26              X          X                     X        75.0
27              X          X                     X        50.0

In [32]:
writer = pd.ExcelWriter('Tablas TODAS LAS FOTOS.xlsx', engine='xlsxwriter')

# Write each DataFrame to a different sheet
Especie_count.to_excel(writer, sheet_name='Especie_count')
Especie_count_by_estacion.to_excel(writer, sheet_name='by_estacion')
Especie_count_by_Year.to_excel(writer, sheet_name='by_Year')
Especie_count_by_Season.to_excel(writer, sheet_name='Especie_by_Season')
Especie_count_by_Month.to_excel(writer, sheet_name='Especie_by_Month')
Especie_freq_by_estacion.to_excel(writer, sheet_name='freq_by_estacion')
especie_freq_by_estacion_binary.to_excel(writer, sheet_name='freq_by_estacion_binary')

pivot_table_Especie_by_Hour.to_excel(writer, sheet_name='Especie_by_Hour')

# Save the Excel file
writer.close()

In [33]:
#export data to csv
merged_df.to_csv(r"C:\\Users\\fguar\\OneDrive\\Documentos\\VS Code\\Python\\Camaras trampa\\CT_Data_2021-2024.csv", index=False)