In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import xlsxwriter
import pandas_flavor as pf

In [2]:
file_path = r"G:\\Shared drives\\FMA-G\\C-CONSERVACIÓN\\C1-BOSQUE PEHUEN\\C1.5_DATOS\\Camaras trampa\\1. METODOLOGIA UCT (FOTOS PRE-SEPT 2024)\\2022 - febr. 2024\\Fotos\\2022-OCT2024.csv"
data = pd.read_csv(file_path)
file_path_UCT = r"CT _UCT_limpio.csv"
data_UCT = pd.read_csv(file_path_UCT)

In [3]:
data = data[data['RelativePath'] != '2022\\CoRaTe\\Puma']
data.drop(columns=["Unnamed: 9"], inplace=True)

In [4]:
unique_RelativePath = data['RelativePath'].unique()
print(unique_RelativePath)

['2022\\Araucarias\\CT10_06_12_22' '2022\\Araucarias\\CT9'
 '2022\\CoRaTe Quebrada\\CT13' '2022\\CoRaTe Quebrada\\CT14'
 '2022\\CoRaTe\\CT11_12_2022' '2022\\Lenga - Pradera\\CT16'
 '2022\\Lenga\\CT1' '2022\\Lenga\\CT2' '2022\\RoRaCo Renoval\\CT5'
 '2022\\RoRaCo Renoval\\CT6\\100EK113'
 '2022\\RoRaCo Renoval\\CT6\\101EK113'
 '2022\\RoRaCo Renoval\\CT6\\102EK113'
 '2022\\RoRaCo Renoval\\CT6\\103EK113'
 '2022\\RoRaCo Renoval\\CT6\\104EK113' '2022\\RoRaCo Rio\\CT3'
 '2022\\Santuario Anfibios\\CT7' '2022\\Santuario Anfibios\\CT7_Nov_22'
 '2022\\Santuario Anfibios\\CT8' '2022\\Santuario Anfibios\\CT8_nov_22'
 '2023\\Araucarias\\CT 3 hermanas_16_02_23'
 '2023\\Araucarias\\CT 3 hermanas_enero 23'
 '2023\\Araucarias\\camtrap 3 hermanas_16_02_23'
 '2023\\Araucarias\\camtrap 8_02_23' '2023\\RoRaCo Renoval\\TC5'
 '2023\\RoRaCo Renoval\\TC6' '2023\\Santuario Anfibios\\TC7'
 '2023\\Santuario Anfibios\\TC8'
 '2023\\TC 17 Salto de la Mariposa\\100EK113'
 '2023\\TC 17 Salto de la Mariposa\\101EK113' '2023\\TC11' '2023\\TC12'
 '2024\\TC 2024\\TC 10' '2024\\TC 2024\\TC 11'
 '2024\\TC 2024\\TC 11\\100EK113' '2024\\TC 2024\\TC 12'
 '2024\\TC 2024\\TC 12\\TC Prueba_ Camino principal'
 '2024\\TC 2024\\TC 3\\100EK113' '2024\\TC 2024\\TC 3\\100EK113_2'
 '2024\\TC 2024\\TC 5' '2024\\TC 2024\\TC 9\\21_10_2024'
 '2024\\TC 2024\\TC 9\\Previo'
 '2024\\TC 2024\\TC Prueba_Cruce El Changle\\100EK113'
 '2024\\TC 2024\\TC Prueba_área de operaciones_1\\DCIM\\100EK113'
 '2024\\TC 2024\\TC Prueba_área de operaciones_1\\DCIM\\101EK113'
 '2024\\TC 2024\\TC_1' '2024\\TC 2024\\TC_1\\TC 8\\100EK113'
 '2024\\TC 2024\\TC_1\\TC 8\\101EK113'
 '2024\\TC 2024\\TC_1\\TC 8\\102EK113' '2024\\TC 2024\\TC_2'
 '2024\\TC 2024\\TC_6\\DCIM\\100EK113'
 '2024\\TC 2024\\TC_Galpón\\100EK113' '2024\\TC 2024\\TC_Galpón\\101EK113'
 '2024\\TC 2024\\TC_Yurts_Sitio anfibios 2'
 '2024\\TC 2024\\TC_Yurts_sitio anfibios' '2024\\TC_1' '2024\\TC_10'
 '2024\\TC_2' '2024\\TC_5' '2024\\TC_6' '2024\\TC_7' '2024\\TC_8'
 '2024\\TC_9\\100EK113' '2024\\TC_9\\101EK113' '2024\\TC_9\\102EK113']

In [5]:
# Create a dictionary that maps the RelativePath values to the corresponding Estación value
estacion_dict = {
    '2022\\Araucarias\\CT10_06_12_22': 'Araucarias',
    '2022\\Araucarias\\CT9': 'Araucarias',
    '2022\\CoRaTe Quebrada\\CT13': 'CoRaTe Quebrada',
    '2022\\CoRaTe Quebrada\\CT14': 'CoRaTe Quebrada',
    '2022\\CoRaTe\\CT11_12_2022': 'CoRaTe',
    '2022\\Lenga - Pradera\\CT16': 'Lenga - Pradera',
    '2022\\Lenga\\CT1': 'Lenga',
    '2022\\Lenga\\CT2': 'Lenga',
    '2022\\RoRaCo Renoval\\CT5': 'RoRaCo Renoval',
    '2022\\RoRaCo Renoval\\CT6\\100EK113': 'RoRaCo Renoval',
    '2022\\RoRaCo Renoval\\CT6\\101EK113': 'RoRaCo Renoval',
    '2022\\RoRaCo Renoval\\CT6\\102EK113': 'RoRaCo Renoval',
    '2022\\RoRaCo Renoval\\CT6\\103EK113': 'RoRaCo Renoval',
    '2022\\RoRaCo Renoval\\CT6\\104EK113': 'RoRaCo Renoval',
    '2022\\RoRaCo Rio\\CT3': 'RoRaCo Rio',
    '2022\\Santuario Anfibios\\CT7': 'Santuario de Anfibios',
    '2022\\Santuario Anfibios\\CT7_Nov_22': 'Santuario de Anfibios',
    '2022\\Santuario Anfibios\\CT8': 'Santuario de Anfibios',
    '2022\\Santuario Anfibios\\CT8_nov_22': 'Santuario de Anfibios',
    '2023\\Araucarias\\CT 3 hermanas_16_02_23': 'Araucarias',
    '2023\\Araucarias\\CT 3 hermanas_enero 23': 'Araucarias',
    '2023\\Araucarias\\camtrap 3 hermanas_16_02_23': 'Camtraption',
    '2023\\Araucarias\\camtrap 8_02_23': 'Camtraption',
    '2023\\RoRaCo Renoval\\TC5': 'RoRaCo Renoval',
    '2023\\RoRaCo Renoval\\TC6': 'RoRaCo Renoval',
    '2023\\Santuario Anfibios\\TC7': 'Santuario de Anfibios',
    '2023\\Santuario Anfibios\\TC8': 'Santuario de Anfibios',
    '2023\\TC 17 Salto de la Mariposa\\100EK113': 'Salto de la Mariposa',
    '2023\\TC 17 Salto de la Mariposa\\101EK113': 'Salto de la Mariposa',
    '2023\\TC11': 'CoRaTe',
    '2023\\TC12': 'CoRaTe',
    '2024\\TC 2024\\TC 10': 'Araucarias',
    '2024\\TC 2024\\TC 11': 'CoRaTe',
    '2024\\TC 2024\\TC 11\\100EK113': 'CoRaTe',
    '2024\\TC 2024\\TC 12': 'CoRaTe',
    '2024\\TC 2024\\TC 12\\TC Prueba_ Camino principal': 'CoRaTe',
    '2024\\TC 2024\\TC 3\\100EK113': 'RoRaCo Rio',
    '2024\\TC 2024\\TC 3\\100EK113_2': 'RoRaCo Rio',
    '2024\\TC 2024\\TC 5': 'RoRaCo Renoval',
    '2024\\TC 2024\\TC 9\\21_10_2024': 'Araucarias',
    '2024\\TC 2024\\TC 9\\Previo': 'Araucarias',
    '2024\\TC 2024\\TC Prueba_Cruce El Changle\\100EK113': 'Prueba',
    '2024\\TC 2024\\TC Prueba_área de operaciones_1\\DCIM\\100EK113': 'Prueba',
    '2024\\TC 2024\\TC Prueba_área de operaciones_1\\DCIM\\101EK113': 'Prueba',
    '2024\\TC 2024\\TC_1': 'Lenga',
    '2024\\TC 2024\\TC_1\\TC 8\\100EK113': 'Santuario de Anfibios',
    '2024\\TC 2024\\TC_1\\TC 8\\101EK113': 'Santuario de Anfibios',
    '2024\\TC 2024\\TC_1\\TC 8\\102EK113': 'Santuario de Anfibios',
    '2024\\TC 2024\\TC_2': 'Lenga',
    '2024\\TC 2024\\TC_6\\DCIM\\100EK113': 'RoRaCo Renoval',
    '2024\\TC 2024\\TC_Galpón\\100EK113': 'Prueba',
    '2024\\TC 2024\\TC_Galpón\\101EK113': 'Prueba',
    '2024\\TC 2024\\TC_Yurts_Sitio anfibios 2': 'Anfibios 2',
    '2024\\TC 2024\\TC_Yurts_sitio anfibios': 'Anfibios 2',
    '2024\\TC_1': 'Lenga',
    '2024\\TC_10': 'Araucarias',
    '2024\\TC_2': 'Lenga',
    '2024\\TC_5': 'RoRaCo Renoval',
    '2024\\TC_6': 'RoRaCo Renoval',
    '2024\\TC_7': 'Santuario de Anfibios',
    '2024\\TC_8': 'Santuario de Anfibios',
    '2024\\TC_9\\100EK113': 'Araucarias',
    '2024\\TC_9\\101EK113': 'Araucarias',
    '2024\\TC_9\\102EK113': 'Araucarias',
}

# Create a new column 'estación' in the DataFrame and fill it with the corresponding values
data['Estacion'] = data['RelativePath'].map(estacion_dict)

In [6]:
data = data[data['Estacion'] != 'Camtraption']

In [7]:
unique_Estacion = data['Estacion'].unique()
print(unique_Estacion)

['Araucarias' 'CoRaTe Quebrada' 'CoRaTe' 'Lenga - Pradera' 'Lenga'
 'RoRaCo Renoval' 'RoRaCo Rio' 'Santuario de Anfibios'
 'Salto de la Mariposa' 'Prueba' 'Anfibios 2']

In [8]:
print(data[data['Estacion'].isna()])

Empty DataFrame
Columns: [RootFolder, File, RelativePath, DateTime, Animal, Person, Especie, Counter0, Note0, Estacion]
Index: []

In [10]:
# Create a dictionary that maps the RelativePath values to the corresponding ID_CamaraTrampa value
id_camara_trampa_dict = {
    '2022\\Araucarias\\CT10_06_12_22': 'CT_10',
    '2022\\Araucarias\\CT9': 'CT_09',
    '2022\\CoRaTe Quebrada\\CT13': 'CT_13',
    '2022\\CoRaTe Quebrada\\CT14': 'CT_14',
    '2022\\CoRaTe\\CT11_12_2022': 'CT_11',
    '2022\\Lenga - Pradera\\CT16': 'CT_16',
    '2022\\Lenga\\CT1': 'CT_01',
    '2022\\Lenga\\CT2': 'CT_02',
    '2022\\RoRaCo Renoval\\CT5': 'CT_05',
    '2022\\RoRaCo Renoval\\CT6\\100EK113': 'CT_06',
    '2022\\RoRaCo Renoval\\CT6\\101EK113': 'CT_06',
    '2022\\RoRaCo Renoval\\CT6\\102EK113': 'CT_06',
    '2022\\RoRaCo Renoval\\CT6\\103EK113': 'CT_06',
    '2022\\RoRaCo Renoval\\CT6\\104EK113': 'CT_06',
    '2022\\RoRaCo Rio\\CT3': 'CT_03',
    '2022\\Santuario Anfibios\\CT7': 'CT_07',
    '2022\\Santuario Anfibios\\CT7_Nov_22': 'CT_07',
    '2022\\Santuario Anfibios\\CT8': 'CT_08',
    '2022\\Santuario Anfibios\\CT8_nov_22': 'CT_08',
    '2023\\Araucarias\\CT 3 hermanas_16_02_23': 'CT_10',
    '2023\\Araucarias\\CT 3 hermanas_enero 23': 'CT_10',
    '2023\\Araucarias\\camtrap 3 hermanas_16_02_23': 'CT_Camtraption',
    '2023\\Araucarias\\camtrap 8_02_23': 'CT_Camtraption',
    '2023\\RoRaCo Renoval\\TC5': 'CT_05',
    '2023\\RoRaCo Renoval\\TC6': 'CT_06',
    '2023\\Santuario Anfibios\\TC7': 'CT_07',
    '2023\\Santuario Anfibios\\TC8': 'CT_08',
    '2023\\TC 17 Salto de la Mariposa\\100EK113': 'CT_17',
    '2023\\TC 17 Salto de la Mariposa\\101EK113': 'CT_17',
    '2023\\TC11': 'CT_11',
    '2023\\TC12': 'CT_12',
    '2024\\TC 2024\\TC 10': 'CT_10',
    '2024\\TC 2024\\TC 11': 'CT_11',
    '2024\\TC 2024\\TC 11\\100EK113': 'CT_11',
    '2024\\TC 2024\\TC 12': 'CT_12',
    '2024\\TC 2024\\TC 12\\TC Prueba_ Camino principal': 'CT_12',
    '2024\\TC 2024\\TC 3\\100EK113': 'CT_03',
    '2024\\TC 2024\\TC 3\\100EK113_2': 'CT_03',
    '2024\\TC 2024\\TC 5': 'CT_05',
    '2024\\TC 2024\\TC 9\\21_10_2024': 'CT_09',
    '2024\\TC 2024\\TC 9\\Previo': 'CT_09',
    '2024\\TC 2024\\TC Prueba_Cruce El Changle\\100EK113': 'Prueba',
    '2024\\TC 2024\\TC Prueba_área de operaciones_1\\DCIM\\100EK113': 'Prueba',
    '2024\\TC 2024\\TC Prueba_área de operaciones_1\\DCIM\\101EK113': 'Prueba',
    '2024\\TC 2024\\TC_1': 'CT_01',
    '2024\\TC 2024\\TC_1\\TC 8\\100EK113': 'CT_08',
    '2024\\TC 2024\\TC_1\\TC 8\\101EK113': 'CT_08',
    '2024\\TC 2024\\TC_1\\TC 8\\102EK113': 'CT_08',
    '2024\\TC 2024\\TC_2': 'CT_02',
    '2024\\TC 2024\\TC_6\\DCIM\\100EK113': 'CT_06',
    '2024\\TC 2024\\TC_Galpón\\100EK113': 'Prueba',
    '2024\\TC 2024\\TC_Galpón\\101EK113': 'Prueba',
    '2024\\TC 2024\\TC_Yurts_Sitio anfibios 2': 'CT_19',
    '2024\\TC 2024\\TC_Yurts_sitio anfibios': 'CT_18',
    '2024\\TC_1': 'CT_01',
    '2024\\TC_10': 'CT_10',
    '2024\\TC_2': 'CT_02',
    '2024\\TC_5': 'CT_05',
    '2024\\TC_6': 'CT_06',
    '2024\\TC_7': 'CT_07',
    '2024\\TC_8': 'CT_08',
    '2024\\TC_9\\100EK113': 'CT_09',
    '2024\\TC_9\\101EK113': 'CT_09',
    '2024\\TC_9\\102EK113': 'CT_09',
}


# Create a new column 'ID_CamaraTrampa' in the DataFrame and fill it with the corresponding values
data['ID_CamaraTrampa'] = data['RelativePath'].map(id_camara_trampa_dict)

In [11]:
unique_ID_CamapraTrampa = data['ID_CamaraTrampa'].unique()
print(unique_ID_CamapraTrampa)

['CT_10' 'CT_09' 'CT_13' 'CT_14' 'CT_11' 'CT_16' 'CT_01' 'CT_02' 'CT_05'
 'CT_06' 'CT_03' 'CT_07' 'CT_08' 'CT_17' 'CT_12' 'Prueba' 'CT_19' 'CT_18']

In [12]:
print(data[data['ID_CamaraTrampa'].isna()])

Empty DataFrame
Columns: [RootFolder, File, RelativePath, DateTime, Animal, Person, Especie, Counter0, Note0, Estacion, ID_CamaraTrampa]
Index: []

In [13]:
# Check for rows with missing 'estación' values
print("Rows with missing 'Estacion' values:")
print(data[data['Estacion'].isna()])

# Check for rows with missing 'ID_CamaraTrampa' values
print("\nRows with missing 'ID_CamaraTrampa' values:")
print(data[data['ID_CamaraTrampa'].isna()])

Rows with missing 'Estacion' values:
Empty DataFrame
Columns: [RootFolder, File, RelativePath, DateTime, Animal, Person, Especie, Counter0, Note0, Estacion, ID_CamaraTrampa]
Index: []

Rows with missing 'ID_CamaraTrampa' values:
Empty DataFrame
Columns: [RootFolder, File, RelativePath, DateTime, Animal, Person, Especie, Counter0, Note0, Estacion, ID_CamaraTrampa]
Index: []

In [14]:
data = data[data['ID_CamaraTrampa'] != 'Prueba']

In [15]:
# Convert the column to datetime format
data['DateTime'] = pd.to_datetime(data['DateTime'])

# Extract year, month, day, and time
data['Year'] = data['DateTime'].dt.year
data['Month'] = data['DateTime'].dt.month
data['Day'] = data['DateTime'].dt.day
data['Time'] = data['DateTime'].dt.time

# Convert 'Time' to string type and then create a new 'Hour' variable
data['Hour'] = data['Time'].astype(str).str.split(':').str[0]
data['Hour'] = data['Hour'].astype(int)

In [16]:
#SAME BUT FOR SECOND DATA_UCT FRAME (UCT DATA_UCT)
# Convert the column to datetime format
data_UCT['DateTime'] = pd.to_datetime(data_UCT['DateTime'])

# Extract year, month, day, and time
data_UCT['Year'] = data_UCT['DateTime'].dt.year
data_UCT['Month'] = data_UCT['DateTime'].dt.month
data_UCT['Day'] = data_UCT['DateTime'].dt.day
data_UCT['Time'] = data_UCT['DateTime'].dt.time

# Convert 'Time' to string type and then create a new 'Hour' variable
data_UCT['Hour'] = data_UCT['Time'].astype(str).str.split(':').str[0]
data_UCT['Hour'] = data_UCT['Hour'].astype(int)

In [17]:
# Define the seasons' date ranges based on 'Month' and 'Day'
seasons = {
    'Primavera': ((9, 23), (12, 20)),
    'Verano': ((12, 21), (3, 20)),
    'Otoño': ((3, 21), (6, 20)),
    'Invierno': ((6, 21), (9, 22))
}

def get_season(month, day):
    for season, (start, end) in seasons.items():
        start_month, start_day = start
        end_month, end_day = end
        if start_month < end_month:
            if (month > start_month or (month == start_month and day >= start_day)) and (month < end_month or (month == end_month and day <= end_day)):
                return season
        else:  # Seasons that span over two years
            if (month > start_month or (month == start_month and day >= start_day)) or (month < end_month or (month == end_month and day <= end_day)):
                return season
    return None

# Apply the function to create the 'Season' column
data['Season'] = data.apply(lambda row: get_season(row['Month'], row['Day']), axis=1)

# Print the first few rows to check
print(data['Season'].unique())

['Otoño' 'Invierno' 'Primavera' 'Verano']

In [18]:
#deal with episode data. Variable Note0 contains the episode data
data[['Episode_ID', 'Episode_length']] = data['Note0'].str.split(':', n=1, expand=True)

data_UCT[['Episode_ID', 'Episode_length']] = data_UCT['Note0'].str.split(':', n=1, expand=True)

In [19]:
merged_df = pd.merge(data, data_UCT, on=['Especie', 'DateTime', 'Episode_ID', 'Estacion', 'Counter0', 'RelativePath','Hour', 'Year', 'Month', 'Season'], how='outer')

In [48]:
merged_df['Especie'] = merged_df['Especie'].replace('Ratón cola larga', 'Raton cola larga')
merged_df['Estacion'] = merged_df['Estacion'].replace('Santuario de Anfibios', 'Santuario de anfibios')
merged_df['Estacion'] = merged_df['Estacion'].replace('RoRaCo Río', 'RoRaCo Rio')

merged_df = merged_df[merged_df['Especie'] != 'Otro']

In [61]:

merged_df.to_csv('Fotos periodo completo UCT.csv', index=False)

In [50]:
Especie_count = (
    merged_df.groupby(['Especie', 'Episode_ID'])['Counter0']
    .max()
    .reset_index()  # Add this line to reset the index and get 'Episode_ID' back
    .groupby('Especie')['Episode_ID']
    .nunique()
    .reset_index()
    .rename(columns={'Episode_ID': 'Count'})
)

print(Especie_count)

             Especie  Count
0            Caballo      2
1            Cachaña      3
2         Carpintero      3
3            Chingue      3
4             Chucao    103
5        Ciervo rojo      2
6         Cometocino      4
7             Concón      2
8             Diucón      1
9              Guiña     17
10         Hued hued     98
11            Jabali     99
12          Jilguero      2
13            Liebre     73
14  Monito del monte     12
15             Perro     98
16          Peuquito      2
17          Picaflor      2
18              Puma     23
19        Rata negra      4
20  Raton cola larga     34
21          Rayadito      3
22            Tiuque      5
23           Torcaza      2
24             Traro      1
25             Vison      5
26      Zorro culpeo    234
27            Zorzal     25

In [51]:
Especie_count_by_estacion = (
    merged_df.groupby(['Estacion', 'Especie', 'Episode_ID'])['Counter0']
    .max()
    .reset_index()
    .groupby(['Especie', 'Estacion'])['Episode_ID']
    .nunique()
    .unstack(fill_value=0)
    .reset_index()
    .rename_axis(None, axis=1)
)

print(Especie_count_by_estacion)

             Especie  Anfibios 2  Araucarias  CoRaTe  CoRaTe Quebrada  Lenga  \
0            Caballo           0           0       0                0      0
1            Cachaña           0           0       0                0      0
2         Carpintero           0           0       0                0      0
3            Chingue           0           0       0                0      0
4             Chucao          10           2       5                0      0
5        Ciervo rojo           0           0       0                0      2
6         Cometocino           0           0       1                0      0
7             Concón           0           0       1                0      0
8             Diucón           0           0       0                0      0
9              Guiña           5           0       4                0      0
10         Hued hued           1           1      58                0      0
11            Jabali           0           6      12                0      2
12          Jilguero           0           1       0                0      0
13            Liebre           0          27       5                0     20
14  Monito del monte           0           0       0                0      0
15             Perro           1           1      30                1      5
16          Peuquito           0           2       0                0      0
17          Picaflor           0           1       0                0      0
18              Puma           0           8       5                0      4
19        Rata negra           0           0       0                0      0
20  Raton cola larga           0           0       2                0      0
21          Rayadito           0           1       0                0      0
22            Tiuque           0           0       1                0      0
23           Torcaza           0           0       2                0      0
24             Traro           0           0       0                0      0
25             Vison           0           1       0                0      0
26      Zorro culpeo           0          82      50                0     22
27            Zorzal           0           0       2                0      0

    Lenga - Pradera  RoRaCo Renoval  RoRaCo Rio  Santuario de anfibios
0                 0               2           0                      0
1                 0               3           0                      0
2                 0               2           1                      0
3                 0               2           1                      0
4                 0               3          83                      0
5                 0               0           0                      0
6                 0               1           2                      0
7                 0               0           0                      1
8                 0               0           0                      1
9                 0               1           5                      2
10                0               0          38                      1
11                0              37           0                     43
12                0               0           1                      0
13                1              18           0                      4
14                0               0          12                      0
15                1              29           9                     22
16                0               0           0                      0
17                0               1           0                      0
18                0               3           1                      2
19                0               0           4                      0
20                0               4          28                      0
21                0               1           1                      0
22                0               2           2                      0
23                0               0           0                      0
24                0               1           0                      0
25                0               0           4                      0
26                0              43          20                     29
27                0               1          19                      3

In [52]:
Especie_count_by_Year = (
    merged_df.groupby(['Year', 'Especie', 'Episode_ID'])['Counter0']
    .max()
    .reset_index()
    .groupby(['Especie', 'Year'])['Episode_ID']
    .nunique()
    .unstack(fill_value=0)
    .reset_index()
    .rename_axis(None, axis=1)
)

print(Especie_count_by_Year)

             Especie  1970  2017  2021  2022  2023  2024
0            Caballo     0     1     1     0     0     0
1            Cachaña     0     3     0     0     0     0
2         Carpintero     0     0     0     0     3     0
3            Chingue     0     0     2     1     0     0
4             Chucao     0     3    30    47    13    13
5        Ciervo rojo     0     0     0     2     0     0
6         Cometocino     0     0     0     2     1     1
7             Concón     0     0     0     1     1     0
8             Diucón     0     0     0     0     1     0
9              Guiña     0     0     0     7     4     6
10         Hued hued     0     0    42    47     5     4
11            Jabali     1     3     6    25    56     9
12          Jilguero     0     0     0     2     0     0
13            Liebre     0     0     9    47    16     3
14  Monito del monte     0     0     3     5     0     4
15             Perro     0     2     7    27    31    32
16          Peuquito     0     0     0     0     2     0
17          Picaflor     0     0     0     0     1     1
18              Puma     0     0     0    14     7     2
19        Rata negra     0     0     0     4     0     0
20  Raton cola larga     0     2     4    18     7     3
21          Rayadito     0     0     1     0     1     1
22            Tiuque     0     1     2     0     1     1
23           Torcaza     0     0     0     2     0     0
24             Traro     0     0     0     0     1     0
25             Vison     0     0     0     1     2     2
26      Zorro culpeo     2     8    24   107    73    28
27            Zorzal     0     0    13     8     3     1

In [ ]:
Especie_count_by_ID_CamaraTrampa = (
    merged_df.groupby(['ID_CamaraTrampa', 'Especie', 'Episode_ID'])['Counter0']
    .max()
    .reset_index()
    .groupby(['Especie', 'ID_CamaraTrampa'])['Episode_ID']
    .nunique()
    .unstack(fill_value=0)
    .reset_index()
    .rename_axis(None, axis=1)
)

print(Especie_count_by_ID_CamaraTrampa)

In [53]:
Especie_count_by_Season = (
    merged_df.groupby(['Season', 'Especie', 'Episode_ID'])['Counter0']
    .max()
    .reset_index()
    .groupby(['Especie', 'Season'])['Episode_ID']
    .nunique()
    .unstack(fill_value=0)
    .reset_index()
    .rename_axis(None, axis=1)
)

In [54]:
Especie_count_by_Month = (
    merged_df.groupby(['Month', 'Especie', 'Episode_ID'])['Counter0']
    .max()
    .reset_index()
    .groupby(['Especie', 'Month'])['Episode_ID']
    .nunique()
    .unstack(fill_value=0)
    .reset_index()
    .rename_axis(None, axis=1)
)

In [55]:
pivot_table_Especie_by_Hour = (
    merged_df
    .groupby(['Especie', 'Hour', 'Episode_ID'])['Counter0']
    .max()
    .groupby(['Especie', 'Hour'])
    .sum()
    .unstack(fill_value=0)
)

print(pivot_table_Especie_by_Hour)

Hour              0   1   2   3   4   5   6   7   8   9   ...  14  15  16  17  \
Especie                                                   ...
Caballo            0   0   1   1   0   0   0   0   0   0  ...   0   0   0   1
Cachaña            1   0   0   4   0   0   0   0   0   0  ...   0   0   0   0
Carpintero         0   0   0   0   0   0   0   0   2   0  ...   1   0   0   0
Chingue            1   0   0   0   0   0   0   0   0   0  ...   0   0   0   0
Chucao             0   0   0   0   0   0  14  10   8  11  ...   1   1   0   5
Ciervo rojo        0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0
Cometocino         0   0   0   0   0   0   0   0   1   0  ...   0   1   0   0
Concón             0   0   0   0   0   0   1   0   0   0  ...   0   0   0   1
Diucón             0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0
Guiña              0   1   1   0   1   1   0   1   0   1  ...   0   1   0   2
Hued hued          0   0   0   0   0   2  26   5   4   8  ...   0   2   2   1
Jabali             3   1   1   4   4   1   1   1   5   7  ...  14   3  17   9
Jilguero           0   0   0   0   0   0   0   0   0   0  ...   0   1   0   0
Liebre             6   5   3   5   2   4   4   4   0   3  ...   0   0   0   1
Monito del monte   2   1   0   0   5   1   0   0   0   0  ...   0   0   0   0
Perro              0   0   1   0   0   0   8   8  17  13  ...  11  21  13   5
Peuquito           0   0   0   0   0   0   0   0   0   0  ...   0   0   1   0
Picaflor           0   0   0   0   0   0   0   0   0   1  ...   0   0   0   0
Puma               0   2   0   0   2   0   0   1   2   5  ...   1   3   0   2
Rata negra         0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0
Raton cola larga   3   1   6   1   7   1   3   0   0   0  ...   1   0   0   0
Rayadito           0   0   0   0   0   0   0   0   0   1  ...   0   2   0   0
Tiuque             0   0   1   0   0   0   0   0   0   0  ...   1   0   1   1
Torcaza            0   0   0   0   0   0   0   0   0   0  ...   1   0   0   0
Traro              0   0   0   0   0   0   0   0   0   0  ...   0   1   0   0
Vison              1   0   0   0   0   0   2   0   0   0  ...   0   0   0   0
Zorro culpeo      25  26  18  17  13  10  20   6   4   7  ...   3   7   4   4
Zorzal             0   0   0   0   0   0   3   2   1   0  ...   2   3   2   0

Hour              18  19  20  21  22  23
Especie
Caballo            0   0   0   0   0   0
Cachaña            0   0   0   0   0   0
Carpintero         0   0   0   0   0   0
Chingue            0   0   0   0   1   0
Chucao             7   3   5   6   0   0
Ciervo rojo        0   0   1   0   0   0
Cometocino         0   0   0   0   0   0
Concón             0   0   0   0   0   0
Diucón             1   0   0   0   0   0
Guiña              0   1   2   0   1   0
Hued hued          6   7  17  11   0   0
Jabali            13   6  13  12   5   3
Jilguero           0   0   0   0   0   0
Liebre             7   8   4   3   8   4
Monito del monte   0   0   0   0   3   3
Perro              0   2   0   6   1   1
Peuquito           0   0   0   0   0   0
Picaflor           0   0   0   0   0   0
Puma               0   1   3   0   0   0
Rata negra         0   0   0   0   2   2
Raton cola larga   0   0   2   3   4   3
Rayadito           0   0   0   0   0   0
Tiuque             0   0   0   0   0   0
Torcaza            0   0   0   0   0   0
Traro              0   0   0   0   0   0
Vison              0   0   0   0   1   0
Zorro culpeo       5   7   8  21  15  19
Zorzal             1   0   2   1   0   0

[28 rows x 24 columns]

In [56]:
total_count = Especie_count['Count'].sum()

# Calculate the frequency for each species
Especie_count['Frequency'] = Especie_count['Count'] / total_count * 100

# Display the DataFrame with the new Frequency column
print(Especie_count)

             Especie  Count  Frequency
0            Caballo      2   0.232019
1            Cachaña      3   0.348028
2         Carpintero      3   0.348028
3            Chingue      3   0.348028
4             Chucao    103  11.948956
5        Ciervo rojo      2   0.232019
6         Cometocino      4   0.464037
7             Concón      2   0.232019
8             Diucón      1   0.116009
9              Guiña     17   1.972158
10         Hued hued     98  11.368910
11            Jabali     99  11.484919
12          Jilguero      2   0.232019
13            Liebre     73   8.468677
14  Monito del monte     12   1.392111
15             Perro     98  11.368910
16          Peuquito      2   0.232019
17          Picaflor      2   0.232019
18              Puma     23   2.668213
19        Rata negra      4   0.464037
20  Raton cola larga     34   3.944316
21          Rayadito      3   0.348028
22            Tiuque      5   0.580046
23           Torcaza      2   0.232019
24             Traro      1   0.116009
25             Vison      5   0.580046
26      Zorro culpeo    234  27.146172
27            Zorzal     25   2.900232

In [57]:
# Step 1: Calculate the total counts per Estacion across all Especie
total_count_per_estacion = Especie_count_by_estacion.drop('Especie', axis=1).sum()

# Step 2: Create a new DataFrame for frequency values
Especie_freq_by_estacion = Especie_count_by_estacion.copy()

# Calculate frequencies by dividing each species count by the total count for that station
for estacion in total_count_per_estacion.index:
    Especie_freq_by_estacion[estacion] = Especie_count_by_estacion[estacion] / total_count_per_estacion[estacion] * 100

# The DataFrame Especie_freq_by_estacion now contains the frequencies instead of the counts
print(Especie_freq_by_estacion)

             Especie  Anfibios 2  Araucarias     CoRaTe  CoRaTe Quebrada  \
0            Caballo    0.000000    0.000000   0.000000              0.0
1            Cachaña    0.000000    0.000000   0.000000              0.0
2         Carpintero    0.000000    0.000000   0.000000              0.0
3            Chingue    0.000000    0.000000   0.000000              0.0
4             Chucao   58.823529    1.503759   2.808989              0.0
5        Ciervo rojo    0.000000    0.000000   0.000000              0.0
6         Cometocino    0.000000    0.000000   0.561798              0.0
7             Concón    0.000000    0.000000   0.561798              0.0
8             Diucón    0.000000    0.000000   0.000000              0.0
9              Guiña   29.411765    0.000000   2.247191              0.0
10         Hued hued    5.882353    0.751880  32.584270              0.0
11            Jabali    0.000000    4.511278   6.741573              0.0
12          Jilguero    0.000000    0.751880   0.000000              0.0
13            Liebre    0.000000   20.300752   2.808989              0.0
14  Monito del monte    0.000000    0.000000   0.000000              0.0
15             Perro    5.882353    0.751880  16.853933            100.0
16          Peuquito    0.000000    1.503759   0.000000              0.0
17          Picaflor    0.000000    0.751880   0.000000              0.0
18              Puma    0.000000    6.015038   2.808989              0.0
19        Rata negra    0.000000    0.000000   0.000000              0.0
20  Raton cola larga    0.000000    0.000000   1.123596              0.0
21          Rayadito    0.000000    0.751880   0.000000              0.0
22            Tiuque    0.000000    0.000000   0.561798              0.0
23           Torcaza    0.000000    0.000000   1.123596              0.0
24             Traro    0.000000    0.000000   0.000000              0.0
25             Vison    0.000000    0.751880   0.000000              0.0
26      Zorro culpeo    0.000000   61.654135  28.089888              0.0
27            Zorzal    0.000000    0.000000   1.123596              0.0

        Lenga  Lenga - Pradera  RoRaCo Renoval  RoRaCo Rio  \
0    0.000000              0.0        1.298701    0.000000
1    0.000000              0.0        1.948052    0.000000
2    0.000000              0.0        1.298701    0.432900
3    0.000000              0.0        1.298701    0.432900
4    0.000000              0.0        1.948052   35.930736
5    3.636364              0.0        0.000000    0.000000
6    0.000000              0.0        0.649351    0.865801
7    0.000000              0.0        0.000000    0.000000
8    0.000000              0.0        0.000000    0.000000
9    0.000000              0.0        0.649351    2.164502
10   0.000000              0.0        0.000000   16.450216
11   3.636364              0.0       24.025974    0.000000
12   0.000000              0.0        0.000000    0.432900
13  36.363636             50.0       11.688312    0.000000
14   0.000000              0.0        0.000000    5.194805
15   9.090909             50.0       18.831169    3.896104
16   0.000000              0.0        0.000000    0.000000
17   0.000000              0.0        0.649351    0.000000
18   7.272727              0.0        1.948052    0.432900
19   0.000000              0.0        0.000000    1.731602
20   0.000000              0.0        2.597403   12.121212
21   0.000000              0.0        0.649351    0.432900
22   0.000000              0.0        1.298701    0.865801
23   0.000000              0.0        0.000000    0.000000
24   0.000000              0.0        0.649351    0.000000
25   0.000000              0.0        0.000000    1.731602
26  40.000000              0.0       27.922078    8.658009
27   0.000000              0.0        0.649351    8.225108

    Santuario de anfibios
0                0.000000
1                0.000000
2                0.000000
3                0.000000
4                0.000000
5                0.000000
6                0.000000
7                0.925926
8                0.925926
9                1.851852
10               0.925926
11              39.814815
12               0.000000
13               3.703704
14               0.000000
15              20.370370
16               0.000000
17               0.000000
18               1.851852
19               0.000000
20               0.000000
21               0.000000
22               0.000000
23               0.000000
24               0.000000
25               0.000000
26              26.851852
27               2.777778

In [58]:
especie_freq_by_estacion_binary = Especie_freq_by_estacion.copy()
for col in especie_freq_by_estacion_binary.columns[1:]:  # Skip 'Especie' column
    especie_freq_by_estacion_binary[col] = especie_freq_by_estacion_binary[col].apply(lambda x: 'X' if x > 0 else '')

# Step 2: Calculate the percentage of stations that have the species
especie_freq_by_estacion_binary['Percentage'] = especie_freq_by_estacion_binary.drop('Especie', axis=1).apply(
    lambda row: (row == 'X').mean() * 100, axis=1)

# Print the updated DataFrame with the 'Especie' labels and percentages
print(especie_freq_by_estacion_binary)

             Especie Anfibios 2 Araucarias CoRaTe CoRaTe Quebrada Lenga  \
0            Caballo
1            Cachaña
2         Carpintero
3            Chingue
4             Chucao          X          X      X
5        Ciervo rojo                                                  X
6         Cometocino                            X
7             Concón                            X
8             Diucón
9              Guiña          X                 X
10         Hued hued          X          X      X
11            Jabali                     X      X                     X
12          Jilguero                     X
13            Liebre                     X      X                     X
14  Monito del monte
15             Perro          X          X      X               X     X
16          Peuquito                     X
17          Picaflor                     X
18              Puma                     X      X                     X
19        Rata negra
20  Raton cola larga                            X
21          Rayadito                     X
22            Tiuque                            X
23           Torcaza                            X
24             Traro
25             Vison                     X
26      Zorro culpeo                     X      X                     X
27            Zorzal                            X

   Lenga - Pradera RoRaCo Renoval RoRaCo Rio Santuario de anfibios  Percentage
0                               X                                    11.111111
1                               X                                    11.111111
2                               X          X                         22.222222
3                               X          X                         22.222222
4                               X          X                         55.555556
5                                                                    11.111111
6                               X          X                         33.333333
7                                                                X   22.222222
8                                                                X   11.111111
9                               X          X                     X   55.555556
10                                         X                     X   55.555556
11                              X                                X   55.555556
12                                         X                         22.222222
13               X              X                                X   66.666667
14                                         X                         11.111111
15               X              X          X                     X  100.000000
16                                                                   11.111111
17                              X                                    22.222222
18                              X          X                     X   66.666667
19                                         X                         11.111111
20                              X          X                         33.333333
21                              X          X                         33.333333
22                              X          X                         33.333333
23                                                                   11.111111
24                              X                                    11.111111
25                                         X                         22.222222
26                              X          X                     X   66.666667
27                              X          X                     X   44.444444

In [46]:
PicturesTaken_by_ID_CamaraTrampa = pd.DataFrame({
    'Total_pictures': data.groupby('ID_CamaraTrampa').size(),
    'Total_animal_pictures': data[data['Animal'] == 'Si'].groupby('ID_CamaraTrampa').size(),
    'Total_person_pictures': data[data['Person'] == 'Si'].groupby('ID_CamaraTrampa').size(),
    'Percentage_animal_pictures': data[data['Animal'] == 'Si'].groupby('ID_CamaraTrampa').size() / data.groupby('ID_CamaraTrampa').size() * 100,
    'Percentage_Animal_and_person_pictures': data[(data['Animal'] == 'Si') + (data['Person'] == 'Si')].groupby('ID_CamaraTrampa').size() / data.groupby('ID_CamaraTrampa').size() * 100
})

print(PicturesTaken_by_ID_CamaraTrampa)

                 Total_pictures  Total_animal_pictures  Total_person_pictures  \
ID_CamaraTrampa
CT_01                       158                   60.0                   49.0
CT_02                       420                   45.0                   79.0
CT_03                       432                  115.0                   98.0
CT_05                       455                  237.0                   94.0
CT_06                      4119                  113.0                  154.0
CT_07                       473                  271.0                   60.0
CT_08                      3406                  343.0                  443.0
CT_09                      2438                   65.0                  136.0
CT_10                       429                   85.0                  241.0
CT_11                       552                   66.0                  250.0
CT_12                       855                  109.0                  726.0
CT_13                        24                    6.0                   18.0
CT_14                         9                    NaN                    NaN
CT_16                       400                   11.0                   47.0
CT_17                      1760                    NaN                  352.0
CT_18                        12                    NaN                   11.0
CT_19                       123                   39.0                    5.0

                 Percentage_animal_pictures  \
ID_CamaraTrampa
CT_01                             37.974684
CT_02                             10.714286
CT_03                             26.620370
CT_05                             52.087912
CT_06                              2.743384
CT_07                             57.293869
CT_08                             10.070464
CT_09                              2.666120
CT_10                             19.813520
CT_11                             11.956522
CT_12                             12.748538
CT_13                             25.000000
CT_14                                   NaN
CT_16                              2.750000
CT_17                                   NaN
CT_18                                   NaN
CT_19                             31.707317

                 Percentage_Animal_and_person_pictures
ID_CamaraTrampa
CT_01                                        68.987342
CT_02                                        29.523810
CT_03                                        49.305556
CT_05                                        70.989011
CT_06                                         6.336489
CT_07                                        69.556025
CT_08                                        22.196124
CT_09                                         8.121411
CT_10                                        75.757576
CT_11                                        57.246377
CT_12                                        90.760234
CT_13                                       100.000000
CT_14                                              NaN
CT_16                                        14.500000
CT_17                                        20.000000
CT_18                                        91.666667
CT_19                                        35.772358

In [33]:
# Group by camera trap ID and count unique species
species_count_by_camera = data.groupby('ID_CamaraTrampa')['Especie'].nunique()

# Display the result
print(species_count_by_camera)

ID_CamaraTrampa
CT_01     5
CT_02     4
CT_03    13
CT_05     9
CT_06     7
CT_07     6
CT_08     8
CT_09     5
CT_10     4
CT_11     6
CT_12     5
CT_13     1
CT_14     0
CT_16     2
CT_17     0
CT_18     0
CT_19     4
Name: Especie, dtype: int64

In [59]:
writer = pd.ExcelWriter('Tablas CT metodologia UCT FINAL FINAL FINAL.xlsx', engine='xlsxwriter')

# Write each DataFrame to a different sheet
Especie_count.to_excel(writer, sheet_name='Especie_count')
Especie_count_by_estacion.to_excel(writer, sheet_name='by_estacion')
Especie_count_by_Year.to_excel(writer, sheet_name='by_Year')
Especie_count_by_Season.to_excel(writer, sheet_name='Especie_by_Season')
Especie_count_by_Month.to_excel(writer, sheet_name='Especie_by_Month')
Especie_freq_by_estacion.to_excel(writer, sheet_name='freq_by_estacion')
especie_freq_by_estacion_binary.to_excel(writer, sheet_name='freq_by_estacion_binary')
pivot_table_Especie_by_Hour.to_excel(writer, sheet_name='Especie_by_Hour')

# Save the Excel file
writer.close()